/* Variables */
$blue: #00a3d8;
$dark-blue: #0075bd;
$pink: #c3006e;
$dark-pink: #c3006e;
$green: #209740;
$emerald: #009e9c;
$brow: #cb5000;


/* Remove def style */
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
figure {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
ul,ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: black;
}
a:hover, a:focus {
  color: #00a3d8;
  text-decoration: none;
}
*:focus {
  outline-color: transparent!important;
}
//Fonts
//@import "fontsMix";
//@include font-face(Ubuntu, fonts/Ubuntu-Bold, 700, normal, woff2 woff);


* {
  transition: all .3s;
}
.container {
  max-width: 1230px!important;
}


