section.footer_top
    .container
        .footer_top_items
            .footer_top_item
                ul.footer-links
                    li.title О компании
                    li.link
                        a(href="#") Новости
                    li.link
                        a(href="#") Лучшие сотрудники
                    li.link
                        a(href="#") Контакты

            .footer_top_item
                ul.footer-links
                    li.title Продукция
                    li.link
                        a(href="#") АНМС «Меркурий»
                    li.link
                        a(href="#") ЭНМС «Феникс»
                    li.link
                        a(href="#") АУЗТ «Дельта Комби»
                    li.link
                        a(href="#") АМТ «Вега Плюс»
                    li.link
                        a(href="#") АУЗТ «Дельта»
                    li.link
                        a(href="#") Аксессуары

            .footer_top_item
                ul.footer-links
                    li.title Медицина
                    li.link
                        a(href="#") Алфавит заболеваний
                    li.link
                        a(href="#") Физиотерапия
                    li.link
                        a(href="#") Боль и обезболивание
                    li.link
                        a(href="#") Болезни суставов
                    li.link
                        a(href="#") Травмы
                    li.link
                        a(href="#") Остеохондроз
                    li.link
                        a(href="#") Другие болезни
                    li.link
                        a(href="#") Красота и здоровье
            .footer_top_item
                ul.footer-links
                    li.title Сотрудничество
                    li.link
                        a(href="#") Оптовые закупки
                    li.link
                        a(href="#") Врачам

            .footer_top_item
                ul.footer-links
                    li.title Вопрос – ответ
                    li.link
                        a(href="#") Где купить?
                    li.link
                        a(href="#") Как заказать?
                    li.link
                        a(href="#") Что такое карта клиента?
                    li.link
                        a(href="#") Вопросы по аппаратам
                    li.link
                        a(href="#") Вопросы по заболеваниям
                    li.link
                        a(href="#") Вопросы по косметологии
                    li.link
                        a(href="#") Технические вопросы
                    li.link
                        a(href="#") Задать свой вопрос
            .footer_top_item.feetback-info
                .feetback-info_address
                    p Москва, 109387, ул. Люблинская, 42
                .feetback-info_phons
                    a(href="#") 8 800 707-78-80 (звонок бесплатный)
                    a(href="#") 8 495 351-83-72
                .feetback-info_email
                    a(href="#") info@stl-comp.ru
section.footer_bottom
    .container
        .row
            .col-12.col-sm-6.p-2
                .footer_bottom_copyright
                    p © 2007–2019 Компания «СТЛ» В случае перепечатки материалов активная ссылка на сайт обязательна
            .col-12.col-sm-6.p-2
                .footer_bottom_social-icons
                    a(href="#").icon-circle.icon-facebook
                    a(href="#").icon-circle.icon-vk
                    a(href="#").icon-circle.icon-ok
                    a(href="#").icon-circle.icon-youtube
                    a(href="#").icon-circle.icon-instagram
