section.footer_top
    .footer_top_items
        .footer_top_item
            ul.footer-links
                li.title О компании
                li.link
                    a Новости
                li.link
                    a Лучшие сотрудники
                li.link
                    a Контакты

        .footer_top_item
            ul.footer-links
                li.title Продукция
                li.link
                    a АНМС «Меркурий»
                li.link
                    a ЭНМС «Феникс»
                li.link
                    a АУЗТ «Дельта Комби»
                li.link
                    a АМТ «Вега Плюс»
                li.link
                    a АУЗТ «Дельта»
                li.link
                    a Аксессуары

        .footer_top_item
            ul.footer-links
                li.title Медицина
                li.link
                    a Алфавит заболеваний
                li.link
                    a Физиотерапия
                li.link
                    a Боль и обезболивание
                li.link
                    a Болезни суставов
                li.link
                    a Травмы
                li.link
                    a Остеохондроз
                li.link
                    a Другие болезни
                li.link
                    a Красота и здоровье
        .footer_top_item
            ul.footer-links
                li.title Сотрудничество
                li.link
                    a Оптовые закупки
                li.link
                    a Врачам

        .footer_top_item
            ul.footer-links
                li.title Вопрос – ответ
                li.link
                    a Где купить?
                li.link
                    a Как заказать?
                li.link
                    a Что такое карта клиента?
                li.link
                    a Вопросы по аппаратам
                li.link
                    a Вопросы по заболеваниям
                li.link
                    a Вопросы по косметологии
                li.link
                    a Технические вопросы
                li.link
                    a Задать свой вопрос
        .footer_top_item.feetback-info
            .footer_top_item.feetback-info_address
                p Москва, 109387, ул. Люблинская, 42
            .footer_top_item.feetback-info_phons
                a 8 800 707-78-80 (звонок бесплатный)
                a 8 495 351-83-72
            .footer_top_item.feetback-info_email
                a info@stl-comp.ru
section.footer_bootom
    .container
        .footer_bootom_copyright
            p © 2007–2019 Компания «СТЛ» В случае перепечатки материалов активная ссылка на сайт обязательна
        .footer_bootom_social-icons
            .icon-facebook
            .icon-vk
            .icon-ok
            .icon-youtube
            .icon-instagram
