section.header_top
    .container
        .row
            nav.col-12.col-md-6
                ul.header_top_link-list
                    li.header_top_link-list_item
                        a(href="#") Сертификаты
                    li.header_top_link-list_item
                        a(href="#") Бесплатная доставка
                    li.header_top_link-list_item
                        a(href="#") Неограниченная гарантия
            .col-12.col-md-6.header_top_wrapper-right
                .header_top_lang
                    button.header_top_lang_item.active RU
                    button.header_top_lang_item ENG
                a(href='#').header_top_bascket Корзина
                a(href='#').header_top_user-control
                    | Вход / Регистрация

section.header_middle
    .container
        .row
            .col-12.col-md-6
                a(href="index.html").header_middle_brand
                    img(src="img/index/top-logo.png" alt="Современные Технологические Линии")
            .col-12.col-md-6.header_middle_wrapper-right
                .header_middle_delivery
                    .header_middle_delivery_intro Бесплатный звонок по России
                    .header_middle_delivery_phone 8 800 707-78-80
                    .header_middle_delivery_button
                        button.btn.btn-delivery Бесплатная доставка <i class="fas fa-truck pl-2"></i>

section.header_bottom
    .container
        nav.header_bottom_main-menu
            ul.header_bottom_main-menu_items
                li.header_bottom_main-menu_item
                    a(href="about.html") О компании
                    ul.header_bottom_main-menu_items.lvl-2.animated.slideInLeft
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Новости
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Лучшие сотрудники
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Контакты

                li.header_bottom_main-menu_item
                    a(href="#") Продукция
                li.header_bottom_main-menu_item
                    a(href="#") Медицина
                li.header_bottom_main-menu_item
                    a(href="#") Сотрудничество
                li.header_bottom_main-menu_item
                    a(href="#") Вопрос-ответ
                li.header_bottom_main-menu_item.search
                    a(href="#") Поиск <i class="fas fa-search pl-2"></i>
        nav.catalog-menu
            a.sidemenu-btn2(href="#" title="Меню") <span class="navbar-toggler-icon"></span>
        nav.sidemenu2
            a.close-menu2(href="#" title="") <i class="fa fa-times"></i>
            ul
                li.nav-item
                    a.nav-link(href="#") Продукция
                    ul.drop-menu.animated.fadeIn
                        li.nav-item.first
                            a(href="#") Новости
                        li.nav-item
                            a(href="#") Лучшие сотрудники
                        li.nav-item
                            a(href="#") Контакты
                li.nav-item
                    a(href="#") Медицина
                li.nav-item
                    a(href="#") Сотрудничество
                li.nav-item
                    a(href="#") Вопрос-ответ
                li.nav-item
                    a(href="#") Поиск <i class="fas fa-search pl-2"></i>
