section.header_top
    .container
        .row
            nav.col-12.col-md-6
                ul.header_top_link-list
                    li.header_top_link-list_item
                        a(href="#") Сертификаты
                    li.header_top_link-list_item
                        a(href="#") Бесплатная доставка
                    li.header_top_link-list_item
                        a(href="#") Неограниченная гарантия
            .col-12.col-md-6.header_top_wrapper-right
                .header_top_lang
                    button.header_top_lang_item.active RU
                    button.header_top_lang_item ENG
                a(href='basket.html').header_top_bascket Корзина
                a(href='profil.html').header_top_user-control
                    | Вход / Регистрация

section.header_middle
    .container
        .row
            .col-12.col-sm-6.header_middle_brand-wrapper
                a(href="index.html").header_middle_brand
                    img(src="img/index/top-logo.png" alt="Современные Технологические Линии")
            .col-12.col-sm-6.header_middle_wrapper-right
                .header_middle_delivery
                    .header_middle_delivery_intro Бесплатный звонок по России
                    .header_middle_delivery_phone 8 800 707-78-80
                    .header_middle_delivery_button
                        button.btn.btn-delivery Бесплатная доставка
                        //<i class="fas fa-truck pl-2"></i>

section.header_bottom
    .container
        nav.header_bottom_main-menu
            ul.header_bottom_main-menu_items
                li.header_bottom_main-menu_item
                    a(href="about.html") О компании
                    ul.header_bottom_main-menu_items.lvl-2.animated.slideInLeft
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="news.html") Новости
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="stuff.html") Лучшие сотрудники
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="contact.html") Контакты

                li.header_bottom_main-menu_item
                    a(href="products.html") Продукция
                    ul.header_bottom_main-menu_items.lvl-2.animated.slideInLeft
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="products-inner.html") Подбор аппарата
                            ul.header_bottom_main-menu_items.lvl-3.animated.slideInRight
                                li.header_bottom_main-menu_item.lvl-3
                                    a(href="#") Подбор аппарата
                                li.header_bottom_main-menu_item.lvl-3
                                    a(href="#") АНМС «Меркурий»
                                li.header_bottom_main-menu_item.lvl-3
                                    a(href="#") ЭНМС «Феникс» АУЗТ
                                li.header_bottom_main-menu_item.lvl-3
                                    a(href="#") «Дельта Комби»
                                li.header_bottom_main-menu_item.lvl-3
                                    a(href="#") АМТ «Вега Плюс»
                                li.header_bottom_main-menu_item.lvl-3
                                    a(href="#") АУЗТ «Дельта»
                                li.header_bottom_main-menu_item.lvl-3
                                    a(href="#") Аксессуары
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") АНМС «Меркурий»
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") ЭНМС «Феникс» АУЗТ
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") «Дельта Комби»
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") АМТ «Вега Плюс»
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") АУЗТ «Дельта»
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Аксессуары

                li.header_bottom_main-menu_item
                    a(href="medicine.html") Медицина
                    ul.header_bottom_main-menu_items.lvl-2.animated.slideInLeft
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Укажите заболевание
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Алфавит заболеваний
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Физиотерапия
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Боль и обезболивание
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Болезни суставов
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Травмы
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Остеохондроз
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Другие болезни
                        li.header_bottom_main-menu_item.lvl-2
                            a(href="#") Красота и здоровье

                li.header_bottom_main-menu_item
                    a(href="#") Сотрудничество
                li.header_bottom_main-menu_item
                    a(href="questions.html") Вопрос-ответ
                li.header_bottom_main-menu_item.search
                    button(data-toggle="modal" data-target="#searchModal").btn-search Поиск
        .catalog-menu
            a.sidemenu-btn2(href="#" title="Меню") <i class="fas fa-bars"></i>
        nav.sidemenu2
            a.close-menu2(href="#" title="") <i class="fa fa-times"></i>
            ul
                li.nav-item
                    a.nav-link(href="#") Продукция
                    ul.drop-menu.animated.fadeIn
                        li.nav-item.first
                            a(href="news.html") Новости
                        li.nav-item
                            a(href="stuff.html") Лучшие сотрудники
                        li.nav-item
                            a(href="contact.html") Контакты
                li.nav-item
                    a(href="#") Медицина
                li.nav-item
                    a(href="#") Сотрудничество
                li.nav-item
                    a(href="#") Вопрос-ответ
                li.nav-item.search
                    button.btn-reset(data-toggle="modal" data-target="#searchModal") Поиск <i class="fas fa-search pl-2"></i>
