.container
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item <a href="index.html">Главная</a>
            li.breadcrumb-item <a href="about.html">О Компании</a>
            li.breadcrumb-item.active(aria-current="page") Лучшие сотрудники
    h1.title-1 Лучшие сотрудники
    .row
        .custom-col-1.mt-2
            aside.left-saidbar
                .left-saidbar_title О Компании
                ul.left-saidbar_list
                   li.left-saidbar_list_item <a href="news.html">Новости</a>
                   li.left-saidbar_list_item.active <a href="stuff.html">Лучшие сотрудники</a>
                   li.left-saidbar_list_item <a href="contact.html">Контакты</a>
        .custom-col-2.p-0
            section.content.mb-5
                .content_tabs
                    ul.nav.nav-pills.mb-3.content_tabs_wrapper-flex#pills-tab(role="tablist")
                        li.nav-item
                            a.nav-link.active#branch-1-tab(data-toggle="pill" href="#branch-1" role="tab" aria-controls="branch-1" aria-selected="true") Центральный офис
                        li.nav-item
                            a.nav-link#branch-2-tab(data-toggle="pill" href="#branch-2" role="tab" aria-controls="branch-2" aria-selected="false") Москва «Центр»
                        li.nav-item
                            a.nav-link#branch-3-tab(data-toggle="pill" href="#branch-3" role="tab" aria-controls="branch-3" aria-selected="false") Москва «ВВЦ»
                        li.nav-item
                            a.nav-link#branch-4-tab(data-toggle="pill" href="#branch-4" role="tab" aria-controls="branch-4" aria-selected="false") Люберцы
                        li.nav-item
                            a.nav-link#branch-5-tab(data-toggle="pill" href="#branch-5" role="tab" aria-controls="branch-5" aria-selected="false") Санкт-Петербург

                .tab-content#pills-tabContent
                    .tab-pane.fade.show.active#branch-1(role="tabpanel" aria-labelledby="branch-1-tab")
                        .stuff-items
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img1.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Тиханович Ольга Станиславовна
                                    .stuff-item_text_description
                                        | управляющая офиса продаж стаж работы: 8 лет
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img2.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img3.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img4.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img5.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img6.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img7.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img8.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img9.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img10.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                    .tab-pane.fade#branch-2(role="tabpanel" aria-labelledby="branch-2-tab")
                        .stuff-items
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img11.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img12.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img13.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img14.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img15.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img16.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года

                    .tab-pane.fade#branch-3(role="tabpanel" aria-labelledby="branch-3-tab")


                    .tab-pane.fade#branch-4(role="tabpanel" aria-labelledby="branch-4-tab")
                        .stuff-items
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img17.jpg").lazyload
                                    .stuff-item_img_icon
                                        img(src="img/stuff/icon-1.png" alt="Icon favorite").lazyload
                                        .stuff-item_img_icon_text Лучший сотрудник
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img18.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                    .tab-pane.fade#branch-5(role="tabpanel" aria-labelledby="branch-4-tab")
                        .stuff-items
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img19.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Тиханович Ольга Станиславовна
                                    .stuff-item_text_description
                                        | управляющая офиса продаж стаж работы: 8 лет
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img20.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img21.jpg").lazyload
                                    .stuff-item_img_icon
                                        img(src="img/stuff/icon-1.png" alt="Icon favorite").lazyload
                                        .stuff-item_img_icon_text Лучший сотрудник
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img22.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года
                            .stuff-item
                                .stuff-item_img
                                    img(src="img/stuff/img23.jpg").lazyload
                                .stuff-item_text
                                    .stuff-item_text_title
                                        | Арюткина
                                        | Ирина
                                        | Генриховна
                                    .stuff-item_text_description
                                        | консультант
                                        | стаж работы: 2 года

