.main_basket
    .container
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item <a href="index.html">Главная</a>
                li.breadcrumb-item.active(aria-current="page") Корзина
        h1.title-1 Корзина
        .main_basket_description Товары в заказе
        .row
            .main_basket_content.col-12
                .main_basket_items
                    - for (var x = 0; x < 2; x++)
                       .main_basket_item
                            .main_basket_item_img
                                img(src="img/basket/goods-1.png")
                            .main_basket_item_text
                                h4.main_basket_item_text_title Меркурий
                                p.main_basket_item_text_description Аппарат нервно-мышечной стимуляции
                                p.main_basket_item_text_description-accent
                                    | На данный момент действует акция -10%
                                    | <br>и у Вас есть карта постоянного покупателя -10%
                                    | <br>Вы получаете скидку -20%
                            .main_basket_item_counter
                                button(type="button").main_basket_item_counter_minus
                                input.main_basket_item_counter_input(type="text" value="1")
                                button(type="button").main_basket_item_counter_plus
                            .main_basket_item_price
                                .main_basket_item_price_wrapper
                                    p.main_basket_item_price_main 11 520 <i class="fas fa-ruble-sign"></i>
                                    span.main_basket_item_price_old 12 960 <i class="fas fa-ruble-sign"></i>
                                    span.main_basket_item_price_old 14 400 <i class="fas fa-ruble-sign"></i>
                                    p.main_basket_item_price_sales Ваша скидка: 3 750 <i class="fas fa-ruble-sign"></i>
                                .main_basket_item_price_cards
                                    img(src="img/basket/black-card.png")
                                    img(src="img/basket/blue-card.png")
                            .main_basket_item_action <svg xmlns="http://www.w3.org/2000/svg" class="icon-close" viewBox="0 0 12 12"><switch><g><path d="M7 6l4.8-4.8c.3-.3.3-.7 0-1s-.7-.3-1 0L6 5 1.2.3C1 0 .5 0 .3.3s-.3.7 0 .9L5 6 .2 10.8c-.3.3-.3.7 0 1 .3.3.7.3 1 0L6 7l4.8 4.8c.3.3.7.3 1 0 .3-.3.3-.7 0-1L7 6z" fill="#212125"/></g></switch></svg>

                section.bootom-actions.col-12.p-0
                    .bootom-actions_subscribers
                        p.text Если у вас есть код купона для получения скидки, введите в данное поле
                        form#form-subscribers
                            input.form-control.color--pink(type="text" value="SUPERSALE")
                    .bootom-actions_footer-info
                        .bootom-actions_footer-info_bottons
                            a.bootom-actions_footer-info_bottons_left(href="#") <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-left" viewBox="0 0 8 15"><switch><g><path d="M7.7 1.5L2 7.4l5.7 6c.3.3.3.9 0 1.3-.3.3-.9.3-1.2 0L.2 8c-.1-.1-.2-.3-.2-.6 0-.2.1-.4.2-.6L6.5.3c.3-.3.9-.3 1.2 0s.3.9 0 1.2z" fill="#fff"/></g></switch></svg> Назад в продукцию
                            button.bootom-actions_footer-info_bottons_close Очистить корзину <svg xmlns="http://www.w3.org/2000/svg" class="icon-close" viewBox="0 0 12 12"><switch><g><path d="M7 6l4.8-4.8c.3-.3.3-.7 0-1s-.7-.3-1 0L6 5 1.2.3C1 0 .5 0 .3.3s-.3.7 0 .9L5 6 .2 10.8c-.3.3-.3.7 0 1 .3.3.7.3 1 0L6 7l4.8 4.8c.3.3.7.3 1 0 .3-.3.3-.7 0-1L7 6z" fill="#212125"/></g></switch></svg>
                            //a.bootom-actions_footer-info_bottons_right(href="#") Оформить заказ <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right" viewBox="0 0 12 21"><switch><g><path d="M.8 2l8.1 8.3-8.1 8.5c-.4.4-.4 1.3 0 1.8.4.4 1.3.4 1.7 0l8.9-9.5c.1-.1.3-.4.3-.8 0-.3 0-.6-.3-.8L2.4.3C2-.1 1.2-.1.8.3S.3 1.6.8 2z" fill="#fff"/></g></switch></svg>

                        .bootom-actions_footer-info_price
                            span ИТОГО
                            .bootom-actions_footer-info_price_main 22 400 <i class="fas fa-ruble-sign"></i>
                            .bootom-actions_footer-info_price_old  49 900 <i class="fas fa-ruble-sign"></i>

                section.checkout.col-12.p-0
                    .checkout_items
                        .checkout_dashad
                        .checkout_title Оформление заказа
                        .checkout_item
                            label.checkout_item_label(for="name") Ф.И.О.
                            input.checkout_item_input(type="text" placeholder="Константинопольский Константин Константинович" name="name")#name.w-418
                        .checkout_item
                            label.checkout_item_label(for="phone") Телефон
                            input.checkout_item_input(type="text" placeholder="+7 (999) 999 99 99" name="phone")#phone.w-169
                        .checkout_item
                            label.checkout_item_label(for="email") Электронная почта
                            input.checkout_item_input(type="email" placeholder="KonstantinopolskyKK@yandex.ru" name="email")#email.w-307
                        .checkout_dashad
                        .checkout_title Укажите информацию о доставке
                        .checkout_item
                            label.checkout_item_label(for="contry") Страна
                            select.checkout_item_input(name="contry")#contry.w-307
                                option(value="ru" selected) Россия
                                option(value="br") Белоруссия
                                option(value="kz") Казахстан
                                option(value="usa") США
                        .checkout_item
                            label.checkout_item_label(for="region") Область / край
                            select.checkout_item_input(name="region")#region.w-307
                                option(value="none" selected ) Выберите область / край
                                option(value="1") МО
                                option(value="2") МО2
                                option(value="3") МО3
                        .checkout_item
                            label.checkout_item_label(for="city") Город
                            select.checkout_item_input(name="city")#city.w-307
                                option(value="none" selected) Выберите город
                                option(value="mos") Москва
                                option(value="pit") Санкт-петербург
                        .checkout_item
                            label.checkout_item_label(for="street") Улица, дом
                            input.checkout_item_input(type="text"  name="street")#street.w-418
                        .checkout_item
                            label.checkout_item_label(for="postcode") Почтовый индекс
                            input.checkout_item_input(type="text" name="postcode")#postcode.w-169
                        .checkout_item
                            label.checkout_item_label.align-self-start(for="message") Комментарий к заказу
                            textarea(rows="5").checkout_item_input#message.w-418
                        .checkout_title Выберите способ доставки
                        .checkout_item.w-100
                            .checkout_item_delivery-list
                                .checkout_item_delivery-item
                                    .checkout_item_delivery-item_image
                                        img(src="img/basket/delivery-1.png")
                                    .checkout_item_delivery-item_title Самовывоз
                                    .checkout_item_delivery-item_cost Стоимость: <b>0 руб</b>
                                    .checkout_item_delivery-item_icon
                                        img(src="img/basket/icon-question.png")
                                .checkout_item_delivery-item
                                    .checkout_item_delivery-item_image
                                        img(src="img/basket/delivery-2.jpg")
                                    .checkout_item_delivery-item_title Курьер <span>бесплатно</span>
                                    .checkout_item_delivery-item_cost Срок доставки от 1 до 2 дней <br>Стоимость: <b>0 руб*</b>
                                    .checkout_item_delivery-item_icon
                                        img(src="img/basket/icon-question.png")
                                .checkout_item_delivery-item
                                    .checkout_item_delivery-item_image
                                        img(src="img/basket/delivery-3.png")
                                    .checkout_item_delivery-item_title Почта России / EMS <span>бесплатно</span>
                                    .checkout_item_delivery-item_cost Срок доставки от 2 до 12 дней <br>Стоимость: <b>0 руб*</b>
                                    .checkout_item_delivery-item_icon
                                        img(src="img/basket/icon-question.png")
                                .checkout_item_delivery-item
                                    .checkout_item_delivery-item_image
                                        img(src="img/basket/delivery-4.png")
                                    .checkout_item_delivery-item_title Доставка <br>транспортной компанией <span>бесплатно</span>
                                    .checkout_item_delivery-item_cost Срок доставки от 2 до 5 дней <br>Стоимость: <b>0 руб*</b>
                                    .checkout_item_delivery-item_icon
                                        img(src="img/basket/icon-question.png")

                        .checkout_dashad
                        .checkout_title Выберите способ оплаты
                        .checkout_item.w-100
                            .checkout_item_payment-list
                                .checkout_item_payment-item
                                    .checkout_item_payment-item_img
                                        img(src="img/basket/payment-1.png")
                                    .checkout_item_payment-item_description
                                        | Оплата банковскими картами Visa, MasterCard <br>и электронными деньгами <a href="#">WebMoney</a>, <a href="#">Яндекс.Денги</a> и <a href="#">другие</a>
                                        | <span>Более 40 популярных способов оплаты</span>
                                .checkout_item_payment-item
                                    .checkout_item_payment-item_img
                                        img(src="img/basket/payment-2.png")
                                    .checkout_item_payment-item_description
                                        | Наличный расчет
                                        | <span>Оплата наличными при доставке курьером
                                        | или при получении на почте</span>
                                .checkout_item_payment-item
                                    .checkout_item_payment-item_img
                                        img(src="img/basket/payment-3.png")
                                    .checkout_item_payment-item_description
                                        | Квитанция Сбербанка
                                        | <span>позволяет распечатать счет или квитанцию
                                        | для оплаты банковским переводом</span>
                        .checkout_item
                            .checkout_item_button
                                a.btn.btn-a-right(href="#") Оформить заказ
                                .checkout_item_button_description
                                    | Отправляя форму, вы соглашаетесь с <a href="#">условиями</a>
                                    | <br>с обработки и использования персональных данных

                    h2.title-2-center Рекомендуем приобрести вместе с АНМС «Меркурий» аксессуары
                    .main_goods_items
                        .main_goods_item
                            .main_goods_item_img
                                img(data-src="img/basket/recommend-1.png").lazyload
                                .main_goods_item_img-icons
                                    .main_goods_item_img-icon
                                        img(data-src="img/index/card_icon-1-impulse.svg" alt="Импульсные токи").lazyload
                                        .main_goods_item_img-icon_text Импульсные токи
                            h3.main_goods_item_title Перчатки-лектроды
                            .main_goods_item_price
                                span.main_goods_item_price-main 12 400 <i class="fas fa-ruble-sign"></i>
                            .main_goods_item_buttons
                                button.btn.btn-qbuy Купить в 1 клик <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18"><switch><g><path class="icon-qbuy" d="M8.3 12.6c-.1.1-2.1 1.9-2.9 2.7-.1.1-.3.2-.4.3-.1.1-.3.1-.4 0-.1-.1-.2-.2-.2-.4v-.5c0-.3.5-5.1.5-5.1S.9 7.5.4 7.2C.1 7 0 6.8 0 6.5c0-.4.2-.6.5-.7.5-.2 1-.3 1.6-.5C3.1 5 18.5.5 19.4.2c.2-.1.4-.1.6-.2.3-.1.6 0 .8.2.2.2.2.5.1.8-.6 1.3-6.9 14.7-7.6 16-.1.2-.2.5-.3.7-.3.5-1 .4-1.3 0-1.2-1.8-2.2-3.4-3.4-5.1zM18.7 1.8C13.4 3.4 8 5.1 2.7 6.7c1 .6 2.1 1.1 3.1 1.7h.1c1-.4 2-.9 2.9-1.3 2.5-1.1 7.8-3.4 7.8-3.4s-5.2 4.8-7.8 7.1c1.1 1.7 2.2 3.3 3.3 4.9 2.3-4.6 4.4-9.3 6.6-13.9z" fill="#00a5db"/></g></switch></svg>

                                button.btn.btn-buy Купить <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19"><style></style><switch><g><path class="icon-buy" d="M6.7 11.5c.1.3.1.7.2 1.1l.1.1H17.4c.4 0 .8.1 1 .4.4.6 0 1.5-.7 1.6H6.2c-.4 0-.8-.1-1-.5-.1-.2-.2-.4-.2-.6-.3-1.8-1.8-10.8-1.9-11.3 0-.1-.1-.2-.2-.2H1.5C.8 2.1.4 1.6.4 1c0-.5.4-.9.9-1h2.5c.6 0 1 .3 1.1.9.1.3.1.6.2.9 0 .3 0 .3.3.3H19.6c.7 0 1 .5 1 1.2-.1.5-.9 6.3-1 7.2-.1.6-.5 1-1.2 1H6.7zm7.7-5.2h3.7l.3-2.1h-4v2.1zm-5.3 0V4.4c0-.2-.1-.2-.2-.2H5.5v.1c.1.6.2 1.3.3 1.9 0 0 .1.1.2.1h3.1zm8.6 3.1l.3-2.1h-3.4c-.1 0-.2.1-.2.2V9.4h3.3zm-4.4-3.1v-2c0-.1-.1-.1-.2-.1h-2.8c-.2 0-.2.1-.2.2V6.3h3.2zm-3.1 3.1h3.2v-2l-.1-.1h-2.9c-.1 0-.1 0-.1.1-.1.7-.1 1.4-.1 2zM6 7.4v.1l.3 1.8c0 .1.1.2.2.2h2.6V7.6c0-.2-.1-.2-.2-.2H6.2c0-.1-.1-.1-.2 0zM7.6 15.6c.9 0 1.7.7 1.7 1.7 0 .9-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7zM18.1 17.3c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.8 1.7 1.7z"/></g></switch></svg>

                        .main_goods_item
                            .main_goods_item_img
                                img(data-src="img/basket/recommend-2.png").lazyload
                                .main_goods_item_img-icons
                                    .main_goods_item_img-icon
                                        img(data-src="img/index/card_icon-1-impulse.svg" alt="Импульсные токи").lazyload
                                        .main_goods_item_img-icon_text Импульсные токи
                            h3.main_goods_item_title Пояс-электрод
                            .main_goods_item_price
                                span.main_goods_item_price-main 12 400 <i class="fas fa-ruble-sign"></i>
                            .main_goods_item_buttons
                                button.btn.btn-qbuy Купить в 1 клик <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18"><switch><g><path class="icon-qbuy" d="M8.3 12.6c-.1.1-2.1 1.9-2.9 2.7-.1.1-.3.2-.4.3-.1.1-.3.1-.4 0-.1-.1-.2-.2-.2-.4v-.5c0-.3.5-5.1.5-5.1S.9 7.5.4 7.2C.1 7 0 6.8 0 6.5c0-.4.2-.6.5-.7.5-.2 1-.3 1.6-.5C3.1 5 18.5.5 19.4.2c.2-.1.4-.1.6-.2.3-.1.6 0 .8.2.2.2.2.5.1.8-.6 1.3-6.9 14.7-7.6 16-.1.2-.2.5-.3.7-.3.5-1 .4-1.3 0-1.2-1.8-2.2-3.4-3.4-5.1zM18.7 1.8C13.4 3.4 8 5.1 2.7 6.7c1 .6 2.1 1.1 3.1 1.7h.1c1-.4 2-.9 2.9-1.3 2.5-1.1 7.8-3.4 7.8-3.4s-5.2 4.8-7.8 7.1c1.1 1.7 2.2 3.3 3.3 4.9 2.3-4.6 4.4-9.3 6.6-13.9z" fill="#00a5db"/></g></switch></svg>

                                button.btn.btn-buy Купить <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19"><style></style><switch><g><path class="icon-buy" d="M6.7 11.5c.1.3.1.7.2 1.1l.1.1H17.4c.4 0 .8.1 1 .4.4.6 0 1.5-.7 1.6H6.2c-.4 0-.8-.1-1-.5-.1-.2-.2-.4-.2-.6-.3-1.8-1.8-10.8-1.9-11.3 0-.1-.1-.2-.2-.2H1.5C.8 2.1.4 1.6.4 1c0-.5.4-.9.9-1h2.5c.6 0 1 .3 1.1.9.1.3.1.6.2.9 0 .3 0 .3.3.3H19.6c.7 0 1 .5 1 1.2-.1.5-.9 6.3-1 7.2-.1.6-.5 1-1.2 1H6.7zm7.7-5.2h3.7l.3-2.1h-4v2.1zm-5.3 0V4.4c0-.2-.1-.2-.2-.2H5.5v.1c.1.6.2 1.3.3 1.9 0 0 .1.1.2.1h3.1zm8.6 3.1l.3-2.1h-3.4c-.1 0-.2.1-.2.2V9.4h3.3zm-4.4-3.1v-2c0-.1-.1-.1-.2-.1h-2.8c-.2 0-.2.1-.2.2V6.3h3.2zm-3.1 3.1h3.2v-2l-.1-.1h-2.9c-.1 0-.1 0-.1.1-.1.7-.1 1.4-.1 2zM6 7.4v.1l.3 1.8c0 .1.1.2.2.2h2.6V7.6c0-.2-.1-.2-.2-.2H6.2c0-.1-.1-.1-.2 0zM7.6 15.6c.9 0 1.7.7 1.7 1.7 0 .9-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7zM18.1 17.3c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.8 1.7 1.7z"/></g></switch></svg>

                        .main_goods_item
                            .main_goods_item_img
                                img(data-src="img/basket/recommend-3.png").lazyload
                                .main_goods_item_img-icons
                                    .main_goods_item_img-icon
                                        img(data-src="img/index/card_icon-1-impulse.svg" alt="Импульсные токи").lazyload
                                        .main_goods_item_img-icon_text Импульсные токи
                            h3.main_goods_item_title Носки-электроды
                            .main_goods_item_price
                                span.main_goods_item_price-main 12 400 <i class="fas fa-ruble-sign"></i>
                            .main_goods_item_buttons
                                button.btn.btn-qbuy Купить в 1 клик <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18"><switch><g><path class="icon-qbuy" d="M8.3 12.6c-.1.1-2.1 1.9-2.9 2.7-.1.1-.3.2-.4.3-.1.1-.3.1-.4 0-.1-.1-.2-.2-.2-.4v-.5c0-.3.5-5.1.5-5.1S.9 7.5.4 7.2C.1 7 0 6.8 0 6.5c0-.4.2-.6.5-.7.5-.2 1-.3 1.6-.5C3.1 5 18.5.5 19.4.2c.2-.1.4-.1.6-.2.3-.1.6 0 .8.2.2.2.2.5.1.8-.6 1.3-6.9 14.7-7.6 16-.1.2-.2.5-.3.7-.3.5-1 .4-1.3 0-1.2-1.8-2.2-3.4-3.4-5.1zM18.7 1.8C13.4 3.4 8 5.1 2.7 6.7c1 .6 2.1 1.1 3.1 1.7h.1c1-.4 2-.9 2.9-1.3 2.5-1.1 7.8-3.4 7.8-3.4s-5.2 4.8-7.8 7.1c1.1 1.7 2.2 3.3 3.3 4.9 2.3-4.6 4.4-9.3 6.6-13.9z" fill="#00a5db"/></g></switch></svg>

                                button.btn.btn-buy Купить <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19"><style></style><switch><g><path class="icon-buy" d="M6.7 11.5c.1.3.1.7.2 1.1l.1.1H17.4c.4 0 .8.1 1 .4.4.6 0 1.5-.7 1.6H6.2c-.4 0-.8-.1-1-.5-.1-.2-.2-.4-.2-.6-.3-1.8-1.8-10.8-1.9-11.3 0-.1-.1-.2-.2-.2H1.5C.8 2.1.4 1.6.4 1c0-.5.4-.9.9-1h2.5c.6 0 1 .3 1.1.9.1.3.1.6.2.9 0 .3 0 .3.3.3H19.6c.7 0 1 .5 1 1.2-.1.5-.9 6.3-1 7.2-.1.6-.5 1-1.2 1H6.7zm7.7-5.2h3.7l.3-2.1h-4v2.1zm-5.3 0V4.4c0-.2-.1-.2-.2-.2H5.5v.1c.1.6.2 1.3.3 1.9 0 0 .1.1.2.1h3.1zm8.6 3.1l.3-2.1h-3.4c-.1 0-.2.1-.2.2V9.4h3.3zm-4.4-3.1v-2c0-.1-.1-.1-.2-.1h-2.8c-.2 0-.2.1-.2.2V6.3h3.2zm-3.1 3.1h3.2v-2l-.1-.1h-2.9c-.1 0-.1 0-.1.1-.1.7-.1 1.4-.1 2zM6 7.4v.1l.3 1.8c0 .1.1.2.2.2h2.6V7.6c0-.2-.1-.2-.2-.2H6.2c0-.1-.1-.1-.2 0zM7.6 15.6c.9 0 1.7.7 1.7 1.7 0 .9-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7zM18.1 17.3c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.8 1.7 1.7z"/></g></switch></svg>

                        .main_goods_item
                            .main_goods_item_img
                                img(data-src="img/basket/recommend-4.png").lazyload
                                .main_goods_item_img-icons
                                    .main_goods_item_img-icon
                                        img(data-src="img/index/card_icon-1-impulse.svg" alt="Импульсные токи").lazyload
                                        .main_goods_item_img-icon_text Импульсные токи
                            h3.main_goods_item_title Наколенник-электрод
                            .main_goods_item_price
                                span.main_goods_item_price-main 12 400 <i class="fas fa-ruble-sign"></i>
                            .main_goods_item_buttons
                                button.btn.btn-qbuy Купить в 1 клик <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18"><switch><g><path class="icon-qbuy" d="M8.3 12.6c-.1.1-2.1 1.9-2.9 2.7-.1.1-.3.2-.4.3-.1.1-.3.1-.4 0-.1-.1-.2-.2-.2-.4v-.5c0-.3.5-5.1.5-5.1S.9 7.5.4 7.2C.1 7 0 6.8 0 6.5c0-.4.2-.6.5-.7.5-.2 1-.3 1.6-.5C3.1 5 18.5.5 19.4.2c.2-.1.4-.1.6-.2.3-.1.6 0 .8.2.2.2.2.5.1.8-.6 1.3-6.9 14.7-7.6 16-.1.2-.2.5-.3.7-.3.5-1 .4-1.3 0-1.2-1.8-2.2-3.4-3.4-5.1zM18.7 1.8C13.4 3.4 8 5.1 2.7 6.7c1 .6 2.1 1.1 3.1 1.7h.1c1-.4 2-.9 2.9-1.3 2.5-1.1 7.8-3.4 7.8-3.4s-5.2 4.8-7.8 7.1c1.1 1.7 2.2 3.3 3.3 4.9 2.3-4.6 4.4-9.3 6.6-13.9z" fill="#00a5db"/></g></switch></svg>

                                button.btn.btn-buy Купить <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19"><style></style><switch><g><path class="icon-buy" d="M6.7 11.5c.1.3.1.7.2 1.1l.1.1H17.4c.4 0 .8.1 1 .4.4.6 0 1.5-.7 1.6H6.2c-.4 0-.8-.1-1-.5-.1-.2-.2-.4-.2-.6-.3-1.8-1.8-10.8-1.9-11.3 0-.1-.1-.2-.2-.2H1.5C.8 2.1.4 1.6.4 1c0-.5.4-.9.9-1h2.5c.6 0 1 .3 1.1.9.1.3.1.6.2.9 0 .3 0 .3.3.3H19.6c.7 0 1 .5 1 1.2-.1.5-.9 6.3-1 7.2-.1.6-.5 1-1.2 1H6.7zm7.7-5.2h3.7l.3-2.1h-4v2.1zm-5.3 0V4.4c0-.2-.1-.2-.2-.2H5.5v.1c.1.6.2 1.3.3 1.9 0 0 .1.1.2.1h3.1zm8.6 3.1l.3-2.1h-3.4c-.1 0-.2.1-.2.2V9.4h3.3zm-4.4-3.1v-2c0-.1-.1-.1-.2-.1h-2.8c-.2 0-.2.1-.2.2V6.3h3.2zm-3.1 3.1h3.2v-2l-.1-.1h-2.9c-.1 0-.1 0-.1.1-.1.7-.1 1.4-.1 2zM6 7.4v.1l.3 1.8c0 .1.1.2.2.2h2.6V7.6c0-.2-.1-.2-.2-.2H6.2c0-.1-.1-.1-.2 0zM7.6 15.6c.9 0 1.7.7 1.7 1.7 0 .9-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7zM18.1 17.3c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.8 1.7 1.7z"/></g></switch></svg>



