section.main_top-slide
    .container
        .big-slider
            div
                .big-slider_item
                    .big-slider_item_img
                        img(src="img/index/slider-1.jpg").lazyload
                    .big-slider_item_text
                        .big-slider_item_text_title Бесплатная Доставка
                        .big-slider_item_text_description по территории России при онлайн-покупке любого нашего аппарата
                        .big-slider_item_text_button
                            button.btn.btn-top-slider Перейти в продукцию <i class="fas fa-angle-right pl-2"></i>
            div
                .big-slider_item
                    .big-slider_item_img
                        img(src="img/index/slider-1.jpg").lazyload
                    .big-slider_item_text
                        .big-slider_item_text_title Бесплатная Доставка
                        .big-slider_item_text_description по территории России при онлайн-покупке любого нашего аппарата
                        .big-slider_item_text_button
                            button.btn.btn-top-slider Перейти в продукцию <i class="fas fa-angle-right pl-2"></i>
            div
                .big-slider_item
                    .big-slider_item_img
                        img(src="img/index/slider-1.jpg").lazyload
                    .big-slider_item_text
                        .big-slider_item_text_title Бесплатная Доставка
                        .big-slider_item_text_description по территории России при онлайн-покупке любого нашего аппарата
                        .big-slider_item_text_button
                            button.btn.btn-top-slider Перейти в продукцию <i class="fas fa-angle-right pl-2"></i>


section.main_goods
    .container
        .main_goods_items
            .main_goods_item
                .main_goods_item_flag-wrapper
                    .main_goods_item_flag-hit Хит
                .main_goods_item_img
                    img(src="img/index/goods-1.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-1.png" alt="Импульсные токи").lazyload
                            .main_goods_item_img-icon_text Импульсные токи
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-2.png" alt="Расширенная комплектация").lazyload
                            .main_goods_item_img-icon_text Расширенная комплектация
                h3.main_goods_item_title Меркурий
                p.main_goods_item_description Аппарат нервно-мышечной стимуляции
                .main_goods_item_price
                    span.main_goods_item_price-main 12 400 <i class="fas fa-ruble-sign"></i>
                    span.main_goods_item_price-old 14 400 <i class="fas fa-ruble-sign"></i>
                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>
            .main_goods_item
                .main_goods_item_flag-wrapper
                    .main_goods_item_flag-new Новый
                .main_goods_item_img
                    img(src="img/index/goods-2.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-3.png" alt="Ультразвуковая терапия").lazyload
                            .main_goods_item_img-icon_text Ультразвуковая терапия
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-4.png" alt="Магнитотерапия").lazyload
                            .main_goods_item_img-icon_text Магнитотерапия
                h3.main_goods_item_title Феникс
                p.main_goods_item_description Электростимулятор нервно-мышечной системы органов малого таза
                .main_goods_item_price
                    span.main_goods_item_price-main 18 750 <i class="fas fa-ruble-sign"></i>

                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>
            .main_goods_item
                .main_goods_item_img
                    img(src="img/index/goods-3.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-3.png" alt="Ультразвуковая терапия").lazyload
                            .main_goods_item_img-icon_text Ультразвуковая терапия
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-4.png" alt="Магнитотерапия").lazyload
                            .main_goods_item_img-icon_text Магнитотерапия
                h3.main_goods_item_title Дельта комби
                p.main_goods_item_description Аппарат ультразвуковой терапии
                .main_goods_item_price
                    span.main_goods_item_price-main 19 200 <i class="fas fa-ruble-sign"></i>

                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>
            .main_goods_item
                .main_goods_item_img
                    img(src="img/index/goods-4.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-3.png" alt="Ультразвуковая терапия").lazyload
                            .main_goods_item_img-icon_text Ультразвуковая терапия
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-4.png" alt="Магнитотерапия").lazyload
                            .main_goods_item_img-icon_text Магнитотерапия
                h3.main_goods_item_title Вега плюс
                p.main_goods_item_description Аппарат магнитотерапии
                .main_goods_item_price
                    span.main_goods_item_price-main 19 600 <i class="fas fa-ruble-sign"></i>
                    span.main_goods_item_price-old 14 400 <i class="fas fa-ruble-sign"></i>
                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>
            .main_goods_item
                .main_goods_item_img
                    img(src="img/index/goods-5.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-3.png" alt="Ультразвуковая терапия").lazyload
                            .main_goods_item_img-icon_text Ультразвуковая терапия
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-4.png" alt="Магнитотерапия").lazyload
                            .main_goods_item_img-icon_text Магнитотерапия
                h3.main_goods_item_title Дельта
                p.main_goods_item_description Аппарат ультразвуковой терапии
                .main_goods_item_price
                    span.main_goods_item_price-main 15 200 <i class="fas fa-ruble-sign"></i>

                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>
            .main_goods_item
                .main_goods_item_img
                    img(src="img/index/goods-6.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-3.png" alt="Ультразвуковая терапия").lazyload
                            .main_goods_item_img-icon_text Ультразвуковая терапия
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-4.png" alt="Магнитотерапия").lazyload
                            .main_goods_item_img-icon_text Магнитотерапия
                h3.main_goods_item_title Аксессуары
                p.main_goods_item_description к терапевтическим аппаратам
                .main_goods_item_price
                    span.main_goods_item_price-main 3 500 <i class="fas fa-ruble-sign"></i>

                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>
            .main_goods_item
                .main_goods_item_img
                    img(src="img/index/goods-7.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-3.png" alt="Ультразвуковая терапия").lazyload
                            .main_goods_item_img-icon_text Ультразвуковая терапия
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-4.png" alt="Магнитотерапия").lazyload
                            .main_goods_item_img-icon_text Магнитотерапия
                h3.main_goods_item_title Электроды
                p.main_goods_item_description самоклеющиеся для физиотерапии
                .main_goods_item_price
                    span.main_goods_item_price-main 900 <i class="fas fa-ruble-sign"></i>

                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>
            .main_goods_item
                .main_goods_item_img
                    img(src="img/index/goods-8.png").lazyload
                    .main_goods_item_img-icons
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-3.png" alt="Ультразвуковая терапия").lazyload
                            .main_goods_item_img-icon_text Ультразвуковая терапия
                        .main_goods_item_img-icon
                            img(src="img/index/card_icon-4.png" alt="Магнитотерапия").lazyload
                            .main_goods_item_img-icon_text Магнитотерапия
                h3.main_goods_item_title Гель
                p.main_goods_item_description специальный для физиотерапевтических процедур
                .main_goods_item_price
                    span.main_goods_item_price-main 600 <i class="fas fa-ruble-sign"></i>

                .main_goods_item_buttons
                    button.btn.btn-qbuy Купить в 1 клик <i class="fab fa-telegram-plane"></i>
                    button.btn.btn-buy Купить <i class="fas fa-shopping-cart"></i>

section.main_apply
    .container
        h2.title-2.text-center Применяются при заболеваниях
        .slider-apply
            - for (var x = 0; x < 12; x++)
                div
                    .slider-apply_item
                        p.slider-apply_item_text
                            | нарушение сна, стресс, болевые синдромы различного происхождения, восстановление после перенесенных операций, заболеваний и травм, целлюлит...
                        h4.slider-apply_item_title
                            | Меркурий
                        a(href="#").slider-apply_item_link
                            | Подробнее <i class="fas fa-angle-right"></i>


section.main_video-info
    .main_video-info_img
        img(src="img/index/video-fon-bottom2.jpg").lazyload
        a(data-fancybox href="https://www.youtube.com/watch?v=MotohvkO-Kk&t=111s"  data-caption="Video").video-fancy
            img.main_video-info_img-button(src="https://upload.wikimedia.org/wikipedia/commons/c/c9/YouTube_play_buttom_dark_icon_%282013-2017%29.svg" alt="Youtube button")
    h2.title-2.text-center Компания «СТЛ». Презентация нашей продукции
section.main_promo-products
    .container
        .main_promo-products_button
            a(href="#").btn.btn-def Перейти в продукцию <i class="fas fa-angle-right"></i>
        .main_promo-products_presents
            .row
                .col-12.col-md-6.main_promo-products_present
                    a(href="#")
                        img(src="img/index/footer-banner-1.jpg").lazyload
                .col-12.col-md-6.main_promo-products_present
                    a(href="#")
                        img(src="img/index/footer-banner-2.jpg").lazyload


