.container
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item <a href="index.html">Главная</a>
            li.breadcrumb-item.active(aria-current="page") Вопрос - ответ
    .row
        .col-12.questions-headlines
            h1.questions-headlines_title-page Вопрос – ответ
            p.questions-headlines_description <a href="#">Задайте свой вопрос</a> или выберите готовый ответ из соответствующего раздела:
        .col-12.questions-content
            .questions-content_items
                - for (var x = 0; x < 8; x++)
                .questions-content_item
                    .questions-content_item_img
                        img(data-src="img/questions/img-1.jpg").lazyload
                    .questions-content_item_title где купить?
                    .questions-content_item_button
                        a(href="#").btn.btn-outline Перейти <i class="icon-arrow-right-blue"></i>
                .questions-content_item
                    .questions-content_item_img
                        img(data-src="img/questions/img-2.jpg").lazyload
                    .questions-content_item_title КАК заказать?
                    .questions-content_item_button
                        a(href="#").btn.btn-outline Перейти <i class="icon-arrow-right-blue"></i>
                .questions-content_item
                    .questions-content_item_img
                        img(data-src="img/questions/img-3.jpg").lazyload
                    .questions-content_item_title ЧТО ТАКОЕ <br>КАРТА постоянного <br>покупателя?
                    .questions-content_item_button
                        a(href="#").btn.btn-outline Перейти <i class="icon-arrow-right-blue"></i>
                .questions-content_item
                    .questions-content_item_img
                        img(data-src="img/questions/img-4.jpg").lazyload
                    .questions-content_item_title Вопросы <br>по аппаратам
                    .questions-content_item_button
                        a(href="#").btn.btn-outline Перейти <i class="icon-arrow-right-blue"></i>
                .questions-content_item
                    .questions-content_item_img
                        img(data-src="img/questions/img-5.jpg").lazyload
                    .questions-content_item_title вопросы <br>по заболеваниям
                    .questions-content_item_button
                        a(href="#").btn.btn-outline Перейти <i class="icon-arrow-right-blue"></i>
                .questions-content_item
                    .questions-content_item_img
                        img(data-src="img/questions/img-6.jpg").lazyload
                    .questions-content_item_title вопросы <br>по косметологии
                    .questions-content_item_button
                        a(href="#").btn.btn-outline Перейти <i class="icon-arrow-right-blue"></i>
                .questions-content_item
                    .questions-content_item_img
                        img(data-src="img/questions/img-7.jpg").lazyload
                    .questions-content_item_title технические <br>вопросы
                    .questions-content_item_button
                        a(href="#").btn.btn-outline Перейти <i class="icon-arrow-right-blue"></i>

section.main_apply
    .container
        h2.title-2.text-center Применяются при заболеваниях
        .slider-apply
            - for (var x = 0; x < 8; x++)
                div
                    .slider-apply_item
                        p.slider-apply_item_text
                            | нарушение сна, стресс, болевые синдромы различного происхождения, восстановление после перенесенных операций, заболеваний и травм, целлюлит...
                        h4.slider-apply_item_title
                            | Меркурий
                        a(href="#").slider-apply_item_link
                            | Подробнее >
section.main_promo-products
    .container
        .main_promo-products_presents
            .row
                .col-12.col-md-6.main_promo-products_present
                    a(href="#")
                        img(data-src="img/products/footer-1.jpg").lazyload
                .col-12.col-md-6.main_promo-products_present
                    a(href="#")
                        img(data-src="img/products/footer-2.jpg").lazyload
