.main_product
    .container
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item <a href="index.html">Главная</a>
                li.breadcrumb-item <a href="products.html">Продукция</a>
                li.breadcrumb-item.active(aria-current="page") Аппарат нервно-мышечной стимуляции «Меркурий»
        h1.title-1 Аппарат нервно-мышечной стимуляции «Меркурий»
        .row
            .custom-col-1.mt-2
                aside.left-saidbar
                    .left-saidbar_title Продукция
                    ul.left-saidbar_list
                        li.left-saidbar_list_item <a href="products-inner.html">Подобрать аппарат</a>
                        li.left-saidbar_list_item.active <a href="goods-card.html">АНМС «Меркурий»</a>
                        li.left-saidbar_list_item <a href="#">ЭНМС «Феникс»</a>
                        li.left-saidbar_list_item <a href="#">АУЗТ «Дельта Комби»</a>
                        li.left-saidbar_list_item <a href="#">АМТ «Вега Плюс»</a>
                        li.left-saidbar_list_item <a href="#">АУЗТ «Дельта»</a>
                        li.left-saidbar_list_item <a href="#">Аксессуары</a>
            .custom-col-2.mt-2
                .goods-card_content
                    .card-slider-wrapper
                        .slider-for
                            div.slider-for_item
                                img(data-src="img/goods-card/main-slider-1.jpg" alt="slide-1").lazyload
                            div.slider-for_item
                                img(data-src="img/goods-card/main-slider-2.jpg" alt="slide-2").lazyload
                            div.slider-for_item
                                img(data-src="img/goods-card/main-slider-3.jpg" alt="slide-3").lazyload
                            div.slider-for_item
                                img(data-src="img/goods-card/main-slider-4.jpg" alt="slide-4").lazyload

                        .slider-nav
                            div.slider-nav_item
                                img(data-src="img/goods-card/main-slider-1.jpg" alt="slide-1").lazyload
                            div.slider-nav_item
                                img(data-src="img/goods-card/main-slider-2.jpg" alt="slide-2").lazyload
                            div.slider-nav_item
                                img(data-src="img/goods-card/main-slider-3.jpg" alt="slide-3").lazyload
                            div.slider-nav_item
                                img(data-src="img/goods-card/main-slider-4.jpg" alt="slide-4").lazyload
                    .goods-card_content_right-info-product
                        .goods-card_content_right-info-product_price
                            .goods-card_content_right-info-product_price_main 12 400 <i class="fas fa-ruble-sign"></i>
                            .goods-card_content_right-info-product_price_old 14 400 <i class="fas fa-ruble-sign"></i>
                        .goods-card_content_right-info-product_buttons
                            button.btn.btn-qbuy Купить в 1 клик <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18"><switch><g><path class="icon-qbuy" d="M8.3 12.6c-.1.1-2.1 1.9-2.9 2.7-.1.1-.3.2-.4.3-.1.1-.3.1-.4 0-.1-.1-.2-.2-.2-.4v-.5c0-.3.5-5.1.5-5.1S.9 7.5.4 7.2C.1 7 0 6.8 0 6.5c0-.4.2-.6.5-.7.5-.2 1-.3 1.6-.5C3.1 5 18.5.5 19.4.2c.2-.1.4-.1.6-.2.3-.1.6 0 .8.2.2.2.2.5.1.8-.6 1.3-6.9 14.7-7.6 16-.1.2-.2.5-.3.7-.3.5-1 .4-1.3 0-1.2-1.8-2.2-3.4-3.4-5.1zM18.7 1.8C13.4 3.4 8 5.1 2.7 6.7c1 .6 2.1 1.1 3.1 1.7h.1c1-.4 2-.9 2.9-1.3 2.5-1.1 7.8-3.4 7.8-3.4s-5.2 4.8-7.8 7.1c1.1 1.7 2.2 3.3 3.3 4.9 2.3-4.6 4.4-9.3 6.6-13.9z" fill="#00a5db"/></g></switch></svg>
                            button.btn.btn-buy Купить <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19"><style></style><switch><g><path class="icon-buy" d="M6.7 11.5c.1.3.1.7.2 1.1l.1.1H17.4c.4 0 .8.1 1 .4.4.6 0 1.5-.7 1.6H6.2c-.4 0-.8-.1-1-.5-.1-.2-.2-.4-.2-.6-.3-1.8-1.8-10.8-1.9-11.3 0-.1-.1-.2-.2-.2H1.5C.8 2.1.4 1.6.4 1c0-.5.4-.9.9-1h2.5c.6 0 1 .3 1.1.9.1.3.1.6.2.9 0 .3 0 .3.3.3H19.6c.7 0 1 .5 1 1.2-.1.5-.9 6.3-1 7.2-.1.6-.5 1-1.2 1H6.7zm7.7-5.2h3.7l.3-2.1h-4v2.1zm-5.3 0V4.4c0-.2-.1-.2-.2-.2H5.5v.1c.1.6.2 1.3.3 1.9 0 0 .1.1.2.1h3.1zm8.6 3.1l.3-2.1h-3.4c-.1 0-.2.1-.2.2V9.4h3.3zm-4.4-3.1v-2c0-.1-.1-.1-.2-.1h-2.8c-.2 0-.2.1-.2.2V6.3h3.2zm-3.1 3.1h3.2v-2l-.1-.1h-2.9c-.1 0-.1 0-.1.1-.1.7-.1 1.4-.1 2zM6 7.4v.1l.3 1.8c0 .1.1.2.2.2h2.6V7.6c0-.2-.1-.2-.2-.2H6.2c0-.1-.1-.1-.2 0zM7.6 15.6c.9 0 1.7.7 1.7 1.7 0 .9-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7zM18.1 17.3c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.8 1.7 1.7z"/></g></switch></svg>
                        .goods-card_content_right-info-product_features
                            .goods-card_content_right-info-product_features_items
                                .goods-card_content_right-info-product_features_item
                                    .goods-card_content_right-info-product_features_item_img
                                        img(src="img/goods-card/icon6.svg")
                                    .goods-card_content_right-info-product_features_item_text
                                        | Товар есть
                                        | <br>в наличии
                                .goods-card_content_right-info-product_features_item
                                    .goods-card_content_right-info-product_features_item_img
                                        img(src="img/goods-card/icon7.svg")
                                    .goods-card_content_right-info-product_features_item_text
                                        | Посмотреть
                                        | <br>видео
                                .goods-card_content_right-info-product_features_item
                                    .goods-card_content_right-info-product_features_item_img
                                        img(src="img/goods-card/icon8.svg")
                                    .goods-card_content_right-info-product_features_item_text
                                        | Посмотреть
                                        | <br>регистрационное
                                        | <br>удостоверение
                                .goods-card_content_right-info-product_features_item
                                    .goods-card_content_right-info-product_features_item_img
                                        img(src="img/goods-card/icon9.svg")
                                    .goods-card_content_right-info-product_features_item_text
                                        | Посмотреть
                                        | <br>инструкцию
                                .goods-card_content_right-info-product_features_item
                                    .goods-card_content_right-info-product_features_item_img
                                        img(src="img/goods-card/icon10.svg")
                                    .goods-card_content_right-info-product_features_item_text
                                        | Тип воздействия
                                        | <br>импульсный ток
                .goods-card_content_bottom-product_services
                        .goods-card_content_right-info-product_services_items
                            .goods-card_content_right-info-product_services_item
                                .goods-card_content_right-info-product_services_item_img
                                    img(src="img/goods-card/icon1.svg")
                                .goods-card_content_right-info-product_services_item_text
                                    | бесплатная
                                    | <br>доставка
                                    | <br>по России
                            .goods-card_content_right-info-product_services_item
                                .goods-card_content_right-info-product_services_item_img
                                    img(src="img/goods-card/icon2.svg")
                                .goods-card_content_right-info-product_services_item_text
                                    | прямая
                                    | <br>покупка у
                                    | <br>производителя
                            .goods-card_content_right-info-product_services_item
                                .goods-card_content_right-info-product_services_item_img
                                    img(src="img/goods-card/icon3.svg")
                                .goods-card_content_right-info-product_services_item_text
                                    | бессрочная
                                    | <br>гарантия
                                    | <br>на аппараты
                            .goods-card_content_right-info-product_services_item
                                .goods-card_content_right-info-product_services_item_img
                                    img(src="img/goods-card/icon4.svg")
                                .goods-card_content_right-info-product_services_item_text
                                    | бесплатная
                                    | <br>консультация
                                    | <br>от врача
                            .goods-card_content_right-info-product_services_item
                                .goods-card_content_right-info-product_services_item_img
                                    img(src="img/goods-card/icon5.svg")
                                .goods-card_content_right-info-product_services_item_text
                                    | любые
                                    | <br>способы
                                    | <br>оплаты
                .goods-card_description
                    .title Описание
                    .text
                        p Аппарат нервно-мышечной стимуляции (АНМС) «Меркурий» — это домашний физиотерапевтический аппарат, который генерирует короткие электрические импульсы низкой частоты и напряжения. Он оказывает лечебное воздействие на организм биполярными (двухфазными) импульсами электрического тока прямоугольной формы.
                        p Он применяется для лечения заболеваний опорно-двигательной и нервной систем, желудочно-кишечного тракта, органов дыхания, сердечно-сосудистой систем. С его помощью можно быстрее восстановиться после любых травм, избавиться от целлюлита, отеков и других косметических проблем.
                        p АНМС «Меркурий» генерирует импульсные токи в 3-х режимах:
                        ul
                            li ЧЭНС — чрескожная электронейростимуляция
                            li ЭМС  — электромиостимуляция
                            li МАССАЖ
section.dedicated.my-2
    .container
        .row
            .custom-col-2.custom-offset-1
                p.pr-15
                    | Неоспоримым преимуществом АНМС «Меркурий» является то, что он эффективно снимает боль, сопутствующую многим заболеваниям.
.main_product
    .container
        .row
            .custom-col-2.custom-offset-1
                .goods-card_description.m-0
                    .text
                        p
                            | Аппарат имеет два независимых друг от друга канала, то есть он может одновременно работать как с двумя электродами, так и с четырьмя (по 2 на каждом канале). Настройки аппарата устанавливаются с помощью кнопок,
                            | а информация выводится на удобный ЖК-дисплей. Уровень интенсивности лечебных параметров, времени воздействия регулируется в зависимости от потребностей и индивидуальной чувствительности пользователя.
                        p
                            | Вся наша продукция имеет заключения ведущих медицинских учреждений. С регистрационным удостоверением на АНМС «Меркурий» можно ознакомиться <a href="#">здесь</a>.
                    .goods-card_description_images
                        img(data-src="img/goods-card/ministry-1.jpg").lazyload
                        img(data-src="img/goods-card/ministry-2.jpg").lazyload
section.video-block
    .container
        .row
            .custom-col-2.custom-offset-1
                .video-block_img
                    a(data-fancybox href="https://www.youtube.com/watch?v=MotohvkO-Kk&t=111s"  data-caption="Video")
                        img(src="img/goods-card/Video.jpg")
                        img.video-block_img_youtube(src="https://upload.wikimedia.org/wikipedia/commons/c/c9/YouTube_play_buttom_dark_icon_%282013-2017%29.svg" alt="Youtube button")

.main_product
    .container
        .row
            .custom-col-2.custom-offset-1
                .goods-card_description
                    .title Показания к применению
                    ul.marker-list
                        li Болевые синдромы различного происхождения:
                        p головная боль, боль в шее, боль в спине, боль в пояснице, нервно-мышечная боль, миофасциальные синдромы, мигрень.
                        li Заболевания и последствия травм опорно-двигательного аппарата:
                        p атрофия мышц, артрит, артроз, подагра, эпикондилит.
                        li Заболевания и травмы периферической нервной системы:
                        p остеохондроз позвоночника, радикулит, неврит, невралгия.
                        li Заболевания сердечно-сосудистой системы:
                        p нарушение кровообращения в сосудах, последствия ишемического инсульта.
                        li Заболевания желудочно-кишечного тракта:
                        p дискинезия желчевыводящих путей, запор.
                        li Заболевания органов уха, горла, носа:
                        p хронический тонзиллит, вазомоторный ринит.
                        li Заболевания мочеполовой системы:
                        p менструальные боли, аднексит, хронический простатит, хроническая тазовая боль.
                        li Восстановление после операций, заболеваний и травм:
                        p ушибы, вывихи, растяжения, переломы, восстановления после эндопротезирования.
                        li Применение в косметической медицине:
                        p целлюлит, коррекция морщин, послеродовой период.
                        li Спорт и фитнесс:
                        p согревание мышц, разминка, восстановление после тренировок, восстановление после мелких травм.
                .card-base-slider
                    div
                        img(data-src="img/goods-card/sub-slider-1.jpg").lazyload
                    div
                        img(data-src="img/goods-card/sub-slider-2.jpg").lazyload
                    div
                        img(data-src="img/goods-card/sub-slider-3.jpg").lazyload
                    div
                        img(data-src="img/goods-card/sub-slider-4.jpg").lazyload
                    div
                        img(data-src="img/goods-card/sub-slider-1.jpg").lazyload
                    div
                        img(data-src="img/goods-card/sub-slider-2.jpg").lazyload
                    div
                        img(data-src="img/goods-card/sub-slider-3.jpg").lazyload
                    div
                        img(data-src="img/goods-card/sub-slider-4.jpg").lazyload

                .goods-card_description.m-0
                    .title ПРИНЦИП РАБОТЫ
                    p Аппарат генерирует импульсные микротоки в трех режимах:
                    b ЧЭНС — чрескожная электронейростимуляция
                    p Это стимуляция нервной системы человека, во время которой импульсный ток низкой частоты воздействует
                        | на точки в зоне наложения электродов. Эти точки в ответ на стимуляцию посылают в мозг импульсы,
                        | которые заглушают боль, а также дополнительно способствуют выработке естественных гормонов радости, обладающих эффектом обезболивания.
                        | Во время проведения ЧЭНС возникают ритмичные мелкие сокращения (фибрилляция) мышц кожи и мелких сосудов. Это активирует разрушение в очаге боли веществ, которые являются ее химической основой.
                        | Данный режим оптимально подходит для борьбы со всеми видами болей, в том числе болями в шее, спине, пояснице, коленях.
                    b ЭМС — электромиостимуляция
                    p Это способ воздействовать электрическими импульсами органы и системы организма, утратившие свою нормальную функцию в результате болезни или травмы. Это способ заставить мышцы работать.
                        | Данная ритмичная стимуляция приводит к сокращению мышц, тем самым улучшая кровоток и ток лимфы.
                        | Также ЭМС способствует их укреплению и возвращению им эластичности и упругости.
                        | Аппарат успешно используется в сфере профессионального спорта для разогрева мышц перед нагрузками,
                        | снятия неприятных симптомов в результате перенапряжения, восстановления после спортивных травм.
                        | АНМС «Меркурий» можно использовать и во время тренировок, увеличивая их эффективность.
                        | Сфера косметологии также не осталась без внимания: режим электромиостимуляции будет незаменимым помощником в разглаживании мелких морщин, укреплении контуров лица, уменьшении отечности, борьбе
                        | с целлюлитом. Благодаря импульсам тока мышцы лица сокращаются, что способствует улучшению кровообращения и обмена веществ, и наступает видимый эффект омоложения.
                    b Массаж
                    p Ни для кого не секрет, что оздоровительный массаж приносит пользу всему организму. Благодаря тому, что в аппарате «Меркурий» есть специальный режим МАССАЖ, его можно проводить дома в любой момент времени.
                        | Данный режим дозированно производит электростимуляцию малонагруженных мышц, избавляет их
                        | от накопившейся молочной кислоты, улучшает кровообращение, ликвидирует болевые мышечные уплотнения.
                        | АНМС «Меркурий» позволяет проводить несколько видов массажа: комбинированный, восстанавливающий, терапевтический, спортивно-подготовительный, лечебный, и другие, в зависимости от желаемого результата.

section.dedicated.my-2
    .container
        .row
            .custom-col-2.custom-offset-1
                .goods-card_description.m-0
                    .title ПРЕИМУЩЕСТВА
                    b Универсальный
                    p Электромиостимулятор «Меркурий» может работать в нескольких режимах: снятие боли, лечение, косметологический и спортивный массаж. Его настройки позволяют запрограммировать персональные программы, проводить безмедикаментозное воздействие на ткани и органы. Вам не придется покупать разные аппараты для той или иной цели, достаточно купить один, и им смогут пользоваться все члены семьи, каждый для своих потребностей. Также для более эффективного воздействия есть возможность применения дополнительных <a href="#">аксессуаров</a>.
                    b Мобильный
                    p АНМС «Меркурий» можно использовать в любых условиях: в поликлинике, в стационаре, в санатории, в спортивном зале, но прежде всего в домашних условиях или на даче. Он небольшой по размеру, поэтому его легко взять с собой даже в дамской сумочке, а удобный зажим для ремня позволит закрепить аппарат на поясе и оставить руки свободными.
                    b Удобный
                    p У аппарата простая и понятная система управления — на ЖК-дисплее отмечены конкретные зоны воздействия, режим работы и другие заданные параметры. А 78 различных режимов работы позволяют использовать «Меркурий» для решения многих проблем со здоровьем.


.main_product
    .container
        .row
            .custom-col-2.custom-offset-1
                .doctor-question.w-542
                    .doctor-question_title Задайте свой вопрос нашему профессиональному врачу
                    .doctor-question_img
                        img(src="img/products/doctor-1.png").lazyload
                    .doctor-question_name
                        | Ларинский Николай Евгеньевич
                    .doctor-question_awards
                        | главный врач ООО «Санаторий «Солотча», кандидат медицинских наук,
                        | сертифицированный специалист по внутренним болезням,
                        | физиотерапии, рефлексотерапии и восстановительной медицине
                    .doctor-question_button
                        button(data-toggle="modal" data-target="#questionModal" ).btn.btn-def Задать вопрос <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right" viewBox="0 0 12 21"><switch><g><path d="M.8 2l8.1 8.3-8.1 8.5c-.4.4-.4 1.3 0 1.8.4.4 1.3.4 1.7 0l8.9-9.5c.1-.1.3-.4.3-.8 0-.3 0-.6-.3-.8L2.4.3C2-.1 1.2-.1.8.3S.3 1.6.8 2z" fill="#fff"/></g></switch></svg>
                    .doctor-question_feadback
                        | Мы заботимся о конфиденциальности Ваших вопросов, отвечаем на них
                        | исключительно персонально и не публикуем на нашем сайте никакой информации

                .goods-card_description.mt-0.mb-5
                    .title ГДЕ КУПИТЬ?
                    button.btn.btn-qbuy.float-right Купить в 1 клик <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18"><switch><g><path class="icon-qbuy" d="M8.3 12.6c-.1.1-2.1 1.9-2.9 2.7-.1.1-.3.2-.4.3-.1.1-.3.1-.4 0-.1-.1-.2-.2-.2-.4v-.5c0-.3.5-5.1.5-5.1S.9 7.5.4 7.2C.1 7 0 6.8 0 6.5c0-.4.2-.6.5-.7.5-.2 1-.3 1.6-.5C3.1 5 18.5.5 19.4.2c.2-.1.4-.1.6-.2.3-.1.6 0 .8.2.2.2.2.5.1.8-.6 1.3-6.9 14.7-7.6 16-.1.2-.2.5-.3.7-.3.5-1 .4-1.3 0-1.2-1.8-2.2-3.4-3.4-5.1zM18.7 1.8C13.4 3.4 8 5.1 2.7 6.7c1 .6 2.1 1.1 3.1 1.7h.1c1-.4 2-.9 2.9-1.3 2.5-1.1 7.8-3.4 7.8-3.4s-5.2 4.8-7.8 7.1c1.1 1.7 2.2 3.3 3.3 4.9 2.3-4.6 4.4-9.3 6.6-13.9z" fill="#00a5db"/></g></switch></svg>
                    p Для полезной и выгодной покупки сегодня не нужно выходить из дома.
                        | Купить АНМС «Меркурий» можно из любого уголка России, прямо сейчас,
                        | на нашем официальном сайте по привлекательной цене!
                    p Покупая электростимулятор «Меркурий» у нас, Вы получаете 100% оригинальную продукцию, надежность
                        | и безопасность которой подтверждена соответствующими документами. Для Вас всегда действуют услуги доставки, официальная гарантия, возможность купить товар в рассрочку, а также бесплатная консультация нашего опытного врача.
                    p Мы предлагаем купить аппарат для дома, а также осуществляем поставки техники для использования
                        | в профессиональной сфере: в больницах, санаториях, косметологических салонах, реабилитационных центрах.
                .goods-card_specifications
                    .goods-card_specifications_title ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
                    .goods-card_specifications_col-1
                        .goods-card_specifications_img
                            img(src="img/goods-card/specifications.png")
                        .goods-card_specifications_price
                            .goods-card_specifications_price_main
                                | 12 400 <i class="fas fa-ruble-sign"></i>
                            .goods-card_specifications_price_old
                                | 14 400 <i class="fas fa-ruble-sign"></i>
                        .goods-card_specifications_button
                            a.btn.btn-buy Купить <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19"><style></style><switch><g><path class="icon-buy" d="M6.7 11.5c.1.3.1.7.2 1.1l.1.1H17.4c.4 0 .8.1 1 .4.4.6 0 1.5-.7 1.6H6.2c-.4 0-.8-.1-1-.5-.1-.2-.2-.4-.2-.6-.3-1.8-1.8-10.8-1.9-11.3 0-.1-.1-.2-.2-.2H1.5C.8 2.1.4 1.6.4 1c0-.5.4-.9.9-1h2.5c.6 0 1 .3 1.1.9.1.3.1.6.2.9 0 .3 0 .3.3.3H19.6c.7 0 1 .5 1 1.2-.1.5-.9 6.3-1 7.2-.1.6-.5 1-1.2 1H6.7zm7.7-5.2h3.7l.3-2.1h-4v2.1zm-5.3 0V4.4c0-.2-.1-.2-.2-.2H5.5v.1c.1.6.2 1.3.3 1.9 0 0 .1.1.2.1h3.1zm8.6 3.1l.3-2.1h-3.4c-.1 0-.2.1-.2.2V9.4h3.3zm-4.4-3.1v-2c0-.1-.1-.1-.2-.1h-2.8c-.2 0-.2.1-.2.2V6.3h3.2zm-3.1 3.1h3.2v-2l-.1-.1h-2.9c-.1 0-.1 0-.1.1-.1.7-.1 1.4-.1 2zM6 7.4v.1l.3 1.8c0 .1.1.2.2.2h2.6V7.6c0-.2-.1-.2-.2-.2H6.2c0-.1-.1-.1-.2 0zM7.6 15.6c.9 0 1.7.7 1.7 1.7 0 .9-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7zM18.1 17.3c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.8 1.7 1.7z"/></g></switch></svg>
                    .goods-card_specifications_col-2
                        .goods-card_specifications_col-2_table
                            table
                                tbody
                                    tr
                                        td Материал
                                        td АБС-пластик
                                    tr
                                        td Источник питания
                                        td 4 батарейки, тип ААА
                                    tr
                                        td Габаритные размеры
                                        td 117 х 60 х 25 мм
                                    tr
                                        td Вес
                                        td 110 г
                                    tr
                                        td Количество каналов воздействия
                                        td 2
                                    tr
                                        td Вид волны
                                        td двухфазный прямоугольный импульс
                                    tr
                                        td Длительность импульса
                                        td 30 – 350 мкс
                                    tr
                                        td Частота импульса
                                        td 1 – 290 Гц
                                    tr
                                        td Интенсивность
                                        td регулируемая от 0 до 90 мА (1000 Ом)
                                    tr
                                        td Длительность процедуры
                                        td 5 – 90 минут
                        .goods-card_specifications_col-2_bottom
                            .goods-card_specifications_col-2_bottom_main-text
                                | Регистрационное Удостоверение № ФСЗ 2011/10388
                                | <br>выдано Федеральной службой по надзору в сфере
                                | <br>Здравоохранения и социального развития Российской Федераци.

                            .goods-card_specifications_col-2_bottom_description-text
                                | Изготовлено по заказу Компании «СТЛ».
                                | <br>Производитель: Шэньчжэнь Донгдищин Технолоджи Ко., Лтд.
                                | <br>Адрес: No.3 Building Xilibaimang Xusheng Industrial Estate, 518108 Nanshan, Shenzhen China
.main_product
    .container
        .recommended-products
            .recommended-products_title Рекомендуем приобрести вместе с АНМС «Меркурий» аксессуары
            .main_goods_items
                - for (var x = 0; x < 4; x++)
                    .main_goods_item
                        .main_goods_item_img
                            img(data-src="img/index/goods-2.png" data-srcset="img/index/goods-2x2.png 2x").lazyload
                            .main_goods_item_img-icons
                                .main_goods_item_img-icon
                                    img(data-src="img/index/card_icon-3-ultra.svg" alt="Ультразвуковая терапия").lazyload
                                    .main_goods_item_img-icon_text Ультразвуковая терапия
                        h3.main_goods_item_title Феникс
                        .main_goods_item_price
                            span.main_goods_item_price-main 18 750 <i class="fas fa-ruble-sign"></i>
                        .main_goods_item_buttons
                            button.btn.btn-qbuy Купить в 1 клик <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18"><switch><g><path class="icon-qbuy" d="M8.3 12.6c-.1.1-2.1 1.9-2.9 2.7-.1.1-.3.2-.4.3-.1.1-.3.1-.4 0-.1-.1-.2-.2-.2-.4v-.5c0-.3.5-5.1.5-5.1S.9 7.5.4 7.2C.1 7 0 6.8 0 6.5c0-.4.2-.6.5-.7.5-.2 1-.3 1.6-.5C3.1 5 18.5.5 19.4.2c.2-.1.4-.1.6-.2.3-.1.6 0 .8.2.2.2.2.5.1.8-.6 1.3-6.9 14.7-7.6 16-.1.2-.2.5-.3.7-.3.5-1 .4-1.3 0-1.2-1.8-2.2-3.4-3.4-5.1zM18.7 1.8C13.4 3.4 8 5.1 2.7 6.7c1 .6 2.1 1.1 3.1 1.7h.1c1-.4 2-.9 2.9-1.3 2.5-1.1 7.8-3.4 7.8-3.4s-5.2 4.8-7.8 7.1c1.1 1.7 2.2 3.3 3.3 4.9 2.3-4.6 4.4-9.3 6.6-13.9z" fill="#00a5db"/></g></switch></svg>
                            button.btn.btn-buy Купить <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19"><style></style><switch><g><path class="icon-buy" d="M6.7 11.5c.1.3.1.7.2 1.1l.1.1H17.4c.4 0 .8.1 1 .4.4.6 0 1.5-.7 1.6H6.2c-.4 0-.8-.1-1-.5-.1-.2-.2-.4-.2-.6-.3-1.8-1.8-10.8-1.9-11.3 0-.1-.1-.2-.2-.2H1.5C.8 2.1.4 1.6.4 1c0-.5.4-.9.9-1h2.5c.6 0 1 .3 1.1.9.1.3.1.6.2.9 0 .3 0 .3.3.3H19.6c.7 0 1 .5 1 1.2-.1.5-.9 6.3-1 7.2-.1.6-.5 1-1.2 1H6.7zm7.7-5.2h3.7l.3-2.1h-4v2.1zm-5.3 0V4.4c0-.2-.1-.2-.2-.2H5.5v.1c.1.6.2 1.3.3 1.9 0 0 .1.1.2.1h3.1zm8.6 3.1l.3-2.1h-3.4c-.1 0-.2.1-.2.2V9.4h3.3zm-4.4-3.1v-2c0-.1-.1-.1-.2-.1h-2.8c-.2 0-.2.1-.2.2V6.3h3.2zm-3.1 3.1h3.2v-2l-.1-.1h-2.9c-.1 0-.1 0-.1.1-.1.7-.1 1.4-.1 2zM6 7.4v.1l.3 1.8c0 .1.1.2.2.2h2.6V7.6c0-.2-.1-.2-.2-.2H6.2c0-.1-.1-.1-.2 0zM7.6 15.6c.9 0 1.7.7 1.7 1.7 0 .9-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7zM18.1 17.3c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.8 1.7 1.7z"/></g></switch></svg>
.main_product
    section.main_apply
        .container
            h2.title-2.text-center Применяются при заболеваниях
            .slider-apply
                - for (var x = 0; x < 8; x++)
                    div
                        .slider-apply_item
                            p.slider-apply_item_text
                                | нарушение сна, стресс, болевые синдромы различного происхождения, восстановление после перенесенных операций, заболеваний и травм, целлюлит...
                            h4.slider-apply_item_title
                                | Меркурий
                            a(href="#").slider-apply_item_link
                                | Подробнее >
.main_product
    section.main_promo-products
        .container
            .main_promo-products_presents
                .row
                    .col-12.col-md-6.main_promo-products_present
                        a(href="#")
                            img(data-src="img/products/footer-1.jpg").lazyload
                    .col-12.col-md-6.main_promo-products_present
                        a(href="#")
                            img(data-src="img/products/footer-2.jpg").lazyload