.main_products
    .container
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item <a href="index.html">Главная</a>
                li.breadcrumb-item  <a href="products.html">Продукция</a>
                li.breadcrumb-item.active(aria-current="page") Подобрать аппарат
        h1.title-1 Подобрать аппарат
        .row
            .col-12.col-md-3
                aside.left-saidbar
                    .left-saidbar_title Продукция
                    ul.left-saidbar_list
                        li.left-saidbar_list_item.active <a href="products-inner.html">Подобрать аппарат</a>
                        li.left-saidbar_list_item <a href="#">АНМС «Меркурий»</a>
                        li.left-saidbar_list_item <a href="#">ЭНМС «Феникс»</a>
                        li.left-saidbar_list_item <a href="#">АУЗТ «Дельта Комби»</a>
                        li.left-saidbar_list_item <a href="#">АМТ «Вега Плюс»</a>
                        li.left-saidbar_list_item <a href="#">АУЗТ «Дельта»</a>
                        li.left-saidbar_list_item <a href="#">Аксессуары</a>
            section.main_products_content.col-12.col-md-9
                .main_products_page-name
                    p.page-name_description Подберите аппарат, исходя из нужных Вам показаний к применению:
                .main_products_top-form
                    form#products-select
                        .form-group.col-4.p-0
                            select.form-control.color--pink
                                option Аднексит
                                option Аднексит 2
                                option Аднексит 3
                    p.text или откройте <a href="#">полный список показаний</a>
                .main_products_blocks
                    .main_products_block
                        .main_products_block_title Максимальный лечебный эффект
                        .main_products_block_description Прочитайте подробнее в разделе «Медицина» <a href="#">о воздействии при показании: аденексит</a>
                        .main_goods_items
                            - for (var x = 0; x < 3; x++)
                                .main_goods_item
                                    .main_goods_item_img
                                        img(data-src="img/index/goods-3.png").lazyload
                                        .main_goods_item_img-icons
                                            .main_goods_item_img-icon
                                                img(data-src="img/index/card_icon-3-ultra.svg" alt="Ультразвуковая терапия").lazyload
                                                .main_goods_item_img-icon_text Ультразвуковая терапия
                                            .main_goods_item_img-icon
                                                img(data-src="img/index/card_icon-4-magnito.svg" alt="Магнитотерапия").lazyload
                                                .main_goods_item_img-icon_text Магнитотерапия
                                    h3.main_goods_item_title Дельта комби
                                    p.main_goods_item_description Аппарат ультразвуковой терапии
                                    .main_goods_item_price
                                        span.main_goods_item_price-main 19 200 <i class="fas fa-ruble-sign"></i>
                                    .main_goods_item_buttons
                                        button.btn.btn-qbuy Купить в 1 клик
                                        button.btn.btn-buy Купить
                    .main_products_block
                        .main_products_block_title Значительный лечебный эффект
                            .main_products_block_description Прочитайте подробнее в разделе «Медицина» о воздействии при показании: аденексит
                            .main_goods_items
                                - for (var x = 0; x < 3; x++)
                                    .main_goods_item
                                        .main_goods_item_img
                                            img(data-src="img/index/goods-3.png").lazyload
                                            .main_goods_item_img-icons
                                                .main_goods_item_img-icon
                                                    img(data-src="img/index/card_icon-3-ultra.svg" alt="Ультразвуковая терапия").lazyload
                                                    .main_goods_item_img-icon_text Ультразвуковая терапия
                                                .main_goods_item_img-icon
                                                    img(data-src="img/index/card_icon-4-magnito.svg" alt="Магнитотерапия").lazyload
                                                    .main_goods_item_img-icon_text Магнитотерапия
                                        h3.main_goods_item_title Дельта комби
                                        p.main_goods_item_description Аппарат ультразвуковой терапии
                                        .main_goods_item_price
                                            span.main_goods_item_price-main 19 200 <i class="fas fa-ruble-sign"></i>
                                        .main_goods_item_buttons
                                            button.btn.btn-qbuy Купить в 1 клик
                                            button.btn.btn-buy Купить
                    .main_products_block
                        .main_products_block_title Ощутимый лечебный эффект
                            .main_products_block_description Прочитайте подробнее в разделе «Медицина» о воздействии при показании: аденексит
                            .main_goods_items
                                - for (var x = 0; x < 3; x++)
                                    .main_goods_item
                                        .main_goods_item_img
                                            img(data-src="img/index/goods-3.png").lazyload
                                            .main_goods_item_img-icons
                                                .main_goods_item_img-icon
                                                    img(data-src="img/index/card_icon-3-ultra.svg" alt="Ультразвуковая терапия").lazyload
                                                    .main_goods_item_img-icon_text Ультразвуковая терапия
                                                .main_goods_item_img-icon
                                                    img(data-src="img/index/card_icon-4-magnito.svg" alt="Магнитотерапия").lazyload
                                                    .main_goods_item_img-icon_text Магнитотерапия
                                        h3.main_goods_item_title Дельта комби
                                        p.main_goods_item_description Аппарат ультразвуковой терапии
                                        .main_goods_item_price
                                            span.main_goods_item_price-main 19 200 <i class="fas fa-ruble-sign"></i>
                                        .main_goods_item_buttons
                                            button.btn.btn-qbuy Купить в 1 клик
                                            button.btn.btn-buy Купить

                .doctor-question.col-6.offset-3
                    .doctor-question_title Задайте свой вопрос нашему профессиональному врачу
                    .doctor-question_img
                        img(src="img/products/doctor-1.png").lazyload
                    .doctor-question_name
                        | Ларинский Николай Евгеньевич
                    .doctor-question_awards
                        | главный врач ООО «Санаторий «Солотча», кандидат медицинских наук,
                        | сертифицированный специалист по внутренним болезням,
                        | физиотерапии, рефлексотерапии и восстановительной медицине
                    .doctor-question_button
                        a(href="#").btn.btn-def Задать вопрос
                    .doctor-question_feadback
                        | Мы заботимся о конфиденциальности Ваших вопросов, отвечаем на них
                        | исключительно персонально и не публикуем на нашем сайте никакой информации

    section.main_apply
        .container
            h2.title-2.text-center Применяются при заболеваниях
            .slider-apply
                - for (var x = 0; x < 8; x++)
                    div
                        .slider-apply_item
                            p.slider-apply_item_text
                                | нарушение сна, стресс, болевые синдромы различного происхождения, восстановление после перенесенных операций, заболеваний и травм, целлюлит...
                            h4.slider-apply_item_title
                                | Меркурий
                            a(href="#").slider-apply_item_link
                                | Подробнее >
    section.main_promo-products
        .container
            .main_promo-products_presents
                .row
                    .col-12.col-md-6.main_promo-products_present
                        a(href="#")
                            img(data-src="img/products/footer-1.jpg").lazyload
                    .col-12.col-md-6.main_promo-products_present
                        a(href="#")
                            img(data-src="img/products/footer-2.jpg").lazyload
