.container
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item <a href="index.html">Главная</a>
            li.breadcrumb-item.active(aria-current="page") О Компании
    .row
        .col-12.col-md-3
            h1.title-1 О Компании
            aside.left-saidbar
                .left-saidbar_title О Компании
                ul.left-saidbar_list
                    li.left-saidbar_list_item <a href="news.html">Новости</a>
                    li.left-saidbar_list_item <a href="stuff.html">Лучшие сотрудники</a>
                    li.left-saidbar_list_item <a href="contact.html">Контакты</a>
        .col-12.col-md-9
            section.content
                h2.content_title
                    | Мы занимаемся поставкой современных и эффективных физиотерапевтических аппаратов
                    | как для лечебных учреждений,
                    | так и для домашнего использования
                img.content_img(src="img/about/img-top.jpg").lazyload
                img.content_img(src="img/about/numbers.png").lazyload
                p.content_img_signature
                    | купленных аппаратов на сегодняшний день
                b Компания «Современные технологические линии»
                p.text.mb-3 ведет свою деятельность на рынке товаров для здоровья уже более 10 лет, с 2007 года.
                p.text.mb-2 Специалистов из нашей Компании можно встретить на многочисленных специализированных выставках, конкурсах, форумах, можно задать им вопрос и вживую ознакомиться с продукцией, которая в обязательном порядке имеет соответствующие Регистрационные Удостоверения Росздравнадзора и положительные заключения ЦКБ РАН.
                .photo-slider.mb-4
                    div
                        img.photo-slider_img(src="img/about/photo-1.jpg").lazyload
                    div
                        img.photo-slider_img(src="img/about/photo-2.jpg").lazyload
                    div
                        img.photo-slider_img(src="img/about/photo-1.jpg").lazyload
                    div
                        img.photo-slider_img(src="img/about/photo-2.jpg").lazyload
                    div
                        img.photo-slider_img(src="img/about/photo-1.jpg").lazyload
                    div
                        img.photo-slider_img(src="img/about/photo-2.jpg").lazyload

                p.text
                    | Для обеспечения узнаваемости продукции, а также для поддержания её качества, мы выпускаем наши продукцию под собственным зарегистрированным товарным знаком.
                p.text
                    | Аппараты Компании «СТЛ» обладают понятным и удобным интерфейсом, с их техническими параметрами и характеристиками можно ознакомиться в карточке товара, а также в руководстве пользователя, которое доступно для скачивания.
                p.text
                    | Все наши Аппараты в обязательном порядке проходят испытания в Центральной Клинической Больнице Российской Академии Наук, сертифицированы и одобрены к применению Федеральной Службой по надзору в сфере здравоохранения РФ.

section.dedicated
    .container
        .row
            .col-12.col-md-9.offset-md-3
                p.text
                    | Покупая продукцию у нас, Вы можете быть уверены, что приобретаете качественный товар, который послужит не только Вам, но и Вашим близким, ведь действие аппаратов
                    | направлено не только на лечение, но и на предупреждение и профилактику многих проблем
                    | и заболеваний.
section.content
    .container
        .row
            .col-12.col-md-9.offset-md-3.mb-3
                p.text
                    | Мы с гордостью отмечаем, что занимаем лидирующие позиции на рынке физиотерапевтических аппаратов, предназначенных для лечения и профилактики широкого круга заболеваний.
                p.text
                    | На протяжении всех лет мы получаем только положительные отзывы от клиентов, которые пользуются нашей медицинской техникой. А их уже более 200 000 человек, живущих не только на территории Российской Федерации, но и в странах СНГ и ближнего зарубежья. Это говорит о том, что наша деятельность, действительно, помогает людям. Чему мы бесконечно рады.

                h2.title-2.text-center.mx-auto.w-75
                    |   Решение проблем со здоровьем — это наша приоритетная задача!
                img.content_img(src="img/about/img-bottom.png").lazyload
                .content_wrapper
                    a(href="#").btn.btn-def Перейти в продукцию <i class="fas fa-angle-right"></i>
