.footer_top {

  &_items {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    flex: 0 0 auto;
    margin-bottom: 25px;
    margin-right: 30px;
  }
  &_item.questions {
    width: 185px;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .link {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
  }
  .title {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}
.footer {

  &_bottom {
    background-color: #edefef;
    padding: 8px 0 30px;
    &_copyright {
      color: #acadb0;
      font-size: 13px;
      font-weight: 400;
    }
    &_social-icons {
      display: flex;
      justify-content: flex-end;
      padding-right: 45px;
      a:hover, a:focus {
        background-color: $pink;
        color: #fff;
      }
    }
  }
  &_top {
    background-color: #edefef;
    padding-top: 55px;
  }

}
.feetback-info {
  margin-left: auto;
  min-width: 273px;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 0;
  &_address {

  }
  &_phons {

    a {
      display: block;
    }
  }
  &_email {
    text-decoration: underline;
  }
}
.main_basket_item_price_sales .fa-ruble-sign:before {
  font-size: 16px;
}
.main_basket_item_price_old .fa-ruble-sign:before {
  font-size: 16px;
}
.fa-ruble-sign:before {
  font-size: 23px;
}
.icon-circle {
  border-radius: 50%;
  background-color: #00a5db;
  color: #fff;
  width: 28px;
  height: 28px;
  position: relative;
  margin: 0 12px 0 12px;
}
.icon-facebook::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f39e";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.icon-vk::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f189";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.icon-ok::before {
   font-family: "Font Awesome 5 Brands";
   font-weight: 900;
   content: "\f263";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
 }
.icon-youtube::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f167";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.icon-instagram::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f16d";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.btn-blue {
  background-color: #00a5db;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.btn-blue:hover,
.btn-blue:focus {
  background-color: #0099cc;
}
.btn-dark {
  background-color: #8b8b8e;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:focus {
  background-color: #656567;
}
.modal-header {
  border: 0;
}
.modal-body_button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}