.btn {
  background-color: #fff;
  color: #000;
}
.catalog-menu {
  display: none;
}
.fa-bars {
  color: #00a3d8;
}
.header_top {
  color: #000;
  padding: 12px 0 0;
  &_link-list {
    display: flex;

    &_item {
      padding: 20px 0;
      padding-right: 37px;
      font-size: 13px;
      font-weight: 400;
      color: #000000;
      a:hover, a:focus {
        text-decoration: underline;
        color: #00a3d8;
      }
    }
  }
  &_wrapper-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 13%;
  }
  &_lang {

    &_item {
      border: transparent solid 1px;
      background-color: transparent;
      display: inline-block;
      padding: 4px 8px;
    }
    &_item.active {
      border: #00a3d8 solid 1px;
      color: #00a3d8;
    }
  }
  &_bascket {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.13px;
  }
  &_user-control {
    font-size: 13px;
    font-weight: 400;
  }

}

.header_middle {
  color: #000;
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 24px;
  &_brand-wrapper {
    margin-top: 10px;
  }
  &_brand {
    display: block;
  }
  &_brand img {
    width: auto;
    height: auto;
    display: block;
  }
  &_wrapper-right {
    display: flex;
    justify-content: flex-end;
  }
  &_delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00a3d8;

    &_intro {
      //padding: 5px 0;
      font-size: 14px;
      font-weight: 700;
    }
    &_phone {
      //padding: 5px 0;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.3;
      margin-bottom: 15px;
    }
    &_button {
      //padding: 5px 0;
      border: 1px solid #00a3d8;
      background-color: #fff;
      .btn.btn-delivery {
        color: #00a3d8;
        font-size: 14px;
        font-weight: 700;
        position: relative;
        padding-right: 45px;
      }
    }
    &_button:hover {
      border: 1px solid #0075bd;
    }
  }
}
.btn-delivery:before {
  width: 28px;
  height: auto;
  content: url(../img/index/delivery.svg);
  position: absolute;
  top: 9px;
  right: 11px;
}
.btn-delivery:hover,
.btn-delivery:focus {
  color: #0075bd!important;
}
.btn-delivery:hover::before,
.btn-delivery:focus::before {
  width: 28px;
  height: auto;
  content: url(../img/index/delivery-hover-active.svg);
  position: absolute;
  top: 9px;
  right: 11px;
}
.header_bottom {

  &_main-menu {
    &_items {
      display: flex;
      //flex-wrap: wrap;
      justify-content: flex-start;
      align-items: baseline;

    }
    &_item {
      flex: 1 1 auto;

      font-size: 17px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      background-color: #8b8b8e;
      position: relative;
      text-align: center;
      a {
        display: block;
        padding: 20px 20px;
        color: #fff;
      }
    }
    &_item:hover, &_item:focus {
      background-color: #464548;
    }
  }

}
.header_bottom_main-menu_items.lvl-2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  padding: 13px 20px;
  z-index: 100;
}
.header_bottom_main-menu_item.lvl-2 {
  flex: 1 1 100%;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  text-transform: none;
  padding: 0;

  a {
    padding: 5px 5px 0;
    text-align: left;
    color: #000;
  }
}
.header_bottom_main-menu_item.lvl-2 a:hover,
.header_bottom_main-menu_item.lvl-2 a:focus {
  color: $blue;
}
.header_bottom_main-menu_item.active > .header_bottom_main-menu_items.lvl-2 {
  display: flex;
}
.header_bottom_main-menu_item.search {
  background-color: #00a3d8;
}
.header {
  background-image: url("../img/index/header-fon.png");
  background-repeat: no-repeat;
  background-position: 75% 0;
}
.breadcrumb {
 background-color: transparent;
  &-item {
    color: #acadb0;
    font-size: 13px;
    font-weight: 400;
    margin: 25px 0;
  }
}
.form-control {
  border-radius: 0;
}
.btn-search {
  background-color: transparent;
  border: 0;
  width: 100%;
  line-height: 1.5;
  display: block;
  padding: 20px 35px 20px 9px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.btn-search:before {
  content: url(../img/index/search.svg);
  position: absolute;
  width: 22px;
  height: auto;
  top: 50%;
  transform: translate(0%, -33%);
  right: 22px;
}
#searchModal {

  .btn-blue {
    float: right;
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-title {
    text-align: center;
    font-size: 28px;
  }
}
.btn-reset {
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #444;
  font-size: 16px;
  font-weight: 700;
  display: block;
  padding: 10px;
}
.btn-search:hover,
.btn-search:focus {
  background-color: #0086b3!important;
}