.big-slider {

  .slick-arrow {
    display: none;
  }
  .slick-dots {
    bottom: 15px
  }
  .slick-dots li button:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
  }
}
.big-slider_item {
  position: relative;
  &_img {

  }
  &_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    left: 5%;
    width: 40%;
    color: #fff;
    &_title {
      font-size: 58px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px;
    }
    &_description {
      width: 190px;
      margin: 10px auto;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
    }
    &_button {
      margin-top: 35px;
    }
  }
}
.btn-top-slider {
  background-color: #00a3d8;
  border-radius: 0;
  padding: 6px 40px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.main_goods {
  margin-bottom: 35px;
  &_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &_item {
    flex: 0 0 278px;
    margin: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #c2c4c6;
    &_title {
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      margin: 0;
      margin-bottom: 10px;
    }
    &_description {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 30px;
      min-height: 60px;
    }
    &_price {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 7px;
      margin-bottom: 10px;
    }
    &_img-icons {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 76%;
      right: 0;
    }
    &_img-icon {
      position: relative;
      padding: 4px;
    }
    &_img img {
      width: auto;
      height: auto;
    }
    &_price-main {
      color: #c3006e;
      font-size: 28px;
      font-weight: 700;
    }
    &_price-old {
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      text-decoration: line-through;
      color: #acadb0;
    }
    &_price {

    }
    &_flag-new {

    }
    &_flag-hit {

    }
    &_buttons {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .btn {
        flex: 1 1 100%;
      }

    }
    &_img {
      margin: 0 auto;
      padding: 20px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      a {
        width: auto;
        height: auto;
      }
    }
  }
}
.brn-qbuy {
  display: block;
  color: #0075bd;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 25px;
  border-radius: 0;
  border: #0075bd 1px solid;
  margin: 4px;
}
.brn-qbuy:hover, .brn-qbuy:focus {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.brn-buy {
  display: block;
  padding: 4px 25px;
  color: #ffffff;
  background-color: #0075bd;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0;
  margin: 4px;
}
.brn-buy:hover, .brn-buy:focus {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.main_apply {
  background-color: #edefef;
  padding: 40px 0;
}
.title-2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
.slider-apply {

  .slick-arrow {
    display: none!important;
  }
  .slick-dots {
    bottom: -35px;
  }
  .slick-dots li button:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
  }
}
.slider-apply_items {
  display: flex;
  flex-wrap: wrap;

}
.slider-apply div:nth-child(2n) > .slider-apply_item {
  border: 1px solid #00a3d8;
}
.slider-apply div:nth-child(2n+1) > .slider-apply_item {
  border: 1px solid #cb5000;
}
//.slider-apply_item:nth-child(2n) {
//  border: 1px solid #00a3d8;
//}
//.slider-apply_item:nth-child(2n+1) {
//  border: 1px solid #cb5000;
//}
.slider-apply_item {
  display: flex;
  flex-direction: column;
  flex: 0 0 278px;
  padding: 15px;
  background-color: #fff;
  margin: 6px;
  &_text {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 23px;
  }
  &_title {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &_link {
    align-self: flex-end;
    color: #acadb0;
    font-size: 14px;
    font-weight: 400;
  }
}
.main_video-info {
  position: relative;
  .title-2 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    color: #fff;
  }

  &_img {

  }
  &_img-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38px;
    opacity: 0.8;
  }
  &_img-button:hover {
    width: 48px;
  }

}
.main_promo-products {
  margin: 0 0 80px;
  &_button {
    padding: 45px 0;
    display: flex;
    justify-content: center;
    .btn-def {
      margin: 0 auto;
    }
  }
  &_presents {

  }
}
.btn-def {
  display: block;
  background-color: #00a3d8;
  color: #fff;
  padding: 18px;
  border-radius: 0;
  font-size: 19px;
  font-weight: 700;
}
.btn-def:hover, .btn-def:focus {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-top-slider:hover, .btn-top-slider:focus {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.main_goods_item_img-icon_text {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: #00a3d8;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
  border: 1px solid #00a3d8;
  background-color: #fff;
}
.main_goods_item_img-icon.active > .main_goods_item_img-icon_text {
  display: flex;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "-";
}
.title-1 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 59.04px;
}
.left-saidbar {
  border: 1px solid #c2c4c6;
  padding: 30px;
  &_title {
    font-weight: 700;
    color: #000000;
    font-size: 15px;
    line-height: 45px;
    text-transform: uppercase;
  }
  &_list{

    &_item {
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      a {
        display: block;
      }
    }
  }
}
.content {

  &_title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin: 0;
    padding: 15px;
  }
  &_img {
    width: auto;
    display: block;
    margin: 15px auto;
    &_signature {
      color: #000000;
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      display: block;
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &_wrapper {
    display: flex;
    justify-content: space-around;
  }
}
.photo-slider {

  &_img {
    padding: 12px;
  }
}
.video-fancy {

}
.content .btn-def {
  margin: 5px auto 35px;

}
.dedicated {
  background-color: #edeeee;
  padding: 30px 0;
  margin: 30px 0;
}
p.text {
  margin-bottom: 15px;
}
a.btn {
  display: inline-block;
}
a.btn:hover {
  color: #fff;
}
.left-saidbar_list_item.active,
.left-saidbar_list_item.active a {
  color: #00a3d8;
}
#map-1, #map-2, #map-3, #map-4, #map-5 {
  width: 100%;
  height: 420px;
  transition: none;
  margin-bottom: 15px;
}
.title-3 {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 48px;
}
.content {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  &_address {
    display: block;
    max-width: 430px;
  }
  &_phone {
    display: block;
  }
  &_email {
    display: block;
    text-decoration: underline;
    margin-bottom: 40px;
    line-height: 1.5;
  }
}
.content_tabs {

  .nav-link {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #00a3d8;
  }
  .nav-link.active {
    color: #00a3d8;
    font-size: 17px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 0;
    position: relative;
  }
  .nav-link.active::before {
    content: "";
    position: absolute;
    top: calc(100% + 17px);
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
.nav-pills {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  .nav-item {
    padding: 0 35px;
  }
  //.nav-item:first-child {
  //  padding-left: 0;
  //}
  //.nav-item:last-child {
  //  padding-right: 0;
  //}
}
.tab-content_news-list_items {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.tab-content_news-list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  &_img-wrapper {
    flex: 1 1 40%;
    padding: 15px;
  }
  &_img-wrapper img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  &_text {
    flex: 1 1 60%;
    padding: 15px;
    &_title {
      color: #000000;
      font-size: 21px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 25px;
    }
    &_content {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 25px;
    }
    &_data {
      color: #acadb0;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 10px;
    }
  }
}

.tab-content_progress_items {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.tab-content_progress_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  &_img-wrapper {
    flex: 1 1 40%;
    padding: 15px;
  }
  &_img-wrapper img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  &_text {
    flex: 1 1 60%;
    padding: 15px;
    &_title {
      color: #000000;
      font-size: 21px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 25px;
    }
    &_content {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 25px;
    }
    &_data {
      color: #acadb0;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 10px;
    }
  }
}
.tab-content_exhibitions_items {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.tab-content_exhibitions_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  &_img-wrapper {
    flex: 1 1 40%;
    padding: 15px;
  }
  &_img-wrapper img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  &_text {
    flex: 1 1 60%;
    padding: 15px;
    &_title {
      color: #000000;
      font-size: 21px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 25px;
    }
    &_content {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 25px;
    }
    &_data {
      color: #acadb0;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 10px;
    }
  }
}
.tab-content_news-list_items > .tab-content_news-list_item:last-child {
  border: 0;
}
.tab-content_progress_items > .tab-content_progress_item:last-child {
  border: 0;
}
.tab-content_exhibitions_items > .tab-content_exhibitions_item:last-child {
  border: 0;
}
.content_article {

  &_title {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 15px;
  }
  &_data {
    color: #acadb0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 16px;
  }
  &_content {
    margin-bottom: 30px;
    &_img {
      display: block;
      float: left;
      margin-right: 25px;
      max-width: 500px;
    }
    &_img img {
      width: auto;
      height: auto;
      margin-bottom: 20px;
    }
    &_img span {
      color: #acadb0;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 8px;
      display: block;
    }
    &_text p {
      color: #000000;
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 18px;
    }
  }
}
.content_tabs_wrapper-flex {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  flex-wrap: nowrap!important;
  .nav-item {
    padding: 0;
  }
}
.stuff-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.stuff-item {
  flex: 0 0 320px;
  display: flex;
  margin: 10px 0px;
  border: 1px solid #ccc;
  &_img {
    position: relative;
    &_icon {
      position: absolute;
      top: -7px;
      left: -7px;
    }

  }
  &_img img {
    width: auto;
    height: auto;
  }
  &_text {
    padding: 20px;
    &_title {
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    &_description {
      color: #acadb0;
      font-size: 13px;
      font-weight: 400;
    }
  }
}