// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
//@include media-breakpoint-up(sm) { ... }
//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) {
//  .features_img {
//    display: none;
//  }
// }
//@include media-breakpoint-up(xl) {
//  .features_img {
//    display: block;
//  }
//}

//MY Media
@media (max-width: 1070px) {
  .header_bottom_main-menu {
    display: none;
  }
  .big-slider {
    display: none;
  }
  .feetback-info {
    margin-left: 0;
    padding: 0 15px;
  }
  .catalog-menu {
    display: block;
    width: 48px;
    margin-left: auto;
  }
}
@media (max-width: 1238px) {
  .main_goods_items {
    justify-content: space-around;
  }
  .header_bottom_main-menu_item a,
  .header_bottom_main-menu_item button {
    padding: 20px 20px!important;
  }
}

@media (max-width: 576px) {
  .header_middle_brand img {
    margin: 0 auto;
  }
  .header_middle_delivery {
    margin: 20px auto 0;
  }

}
@media (max-width: 900px) {
  .content_tabs .nav-link.active::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .header_top_link-list {
    display: none;
  }
}
@media (max-width: 1600px) {
  .main_video-info .title-2 {
    font-size: 27px;
    padding: 15px;
  }
}
@media (max-width: 1400px) {
  .main_video-info .title-2 {
    font-size: 25px;
    padding: 10px;
  }
}
@media (max-width: 1400px) {
  .main_video-info .title-2 {
    font-size: 23px;
    padding: 5px;
  }
}
@media (max-width: 1000px) {
  .main_video-info {
    display: none;
  }
}