// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
//@include media-breakpoint-up(sm) { ... }
//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) {
//  .features_img {
//    display: none;
//  }
// }
//@include media-breakpoint-up(xl) {
//  .features_img {
//    display: block;
//  }
//}

//MY Media
@media (max-width: 1070px) {
  .header_bottom_main-menu {
    display: none;
  }
  .big-slider {
    display: none;
  }
  .feetback-info {
    margin-left: 0;
    padding: 0 15px;
  }
  .catalog-menu {
    display: block;
    width: 48px;
    margin-left: auto;
  }
}
@media (max-width: 1238px) {
  .main_goods_items {
    justify-content: space-around;
  }
}
