extends layout/main
block title
    title STL | Показания
block content
    main.main-article
        .container
            nav(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item <a href="index.html">Главная</a>
                    li.breadcrumb-item.active(aria-current="page") Показания
            h1.title-1 Показания к применению физиотерапии в домашних условиях
            p Компания «Современные технологические линии» является одним из крупнейших производителей физиотерапевтических аппаратов,
                | которые широко используются для лечения целого ряда заболеваний, как в медицинских учреждениях, так и в домашних условиях.
                | Разные виды физического лечебного воздействия применяются при разных заболеваниях и состояниях. Пациент должен выбирать аппарат, исходя из конкретной медицинской проблемы, которую он планирует решать при помощи физиотерапии.
            h2.title-2 МЕРКУРИЙ
            span Аппарат нервно-мышечной стимуляции «Меркурий» — это незаменимый помощник для людей, страдающих от хронических болей в мышцах, позвоночнике, но желающих продолжать активный образ жизни. Показаниями к его применению являются:
            ul
                li Болевой синдром разного происхождения и локализации (голова, суставы, позвоночник, мышцы, спина, шея).
                li Наличие рубцов, ослабление тонуса мускулатуры.
                li Артрозы, артриты, остеохондроз.
                li Запор.
                li Ослабление потенции, проблемы с эрекцией.
                li Гипертоническая болезнь на первой и второй стадии заболевания.
                li Реабилитация больного после перенесенного инсульта.
                li Варикозная болезнь без трофических поражений кожи.
                li Расстройства ритма сна, проявления невроза.
                li Избыточный вес, целлюлит.
            p «Меркурий» успешно уменьшает или устраняет указанные симптомы. Эффективность работы устройства базируется на рефлекторном сокращении мышечных волокон в теле. Достаточно правильно наложить электроды (согласно инструкции) и подобрать режим работы.
            p Также миостимуляция с помощью устройства «Меркурий» неплохо себя зарекомендовала в косметологии. С его помощью проводится коррекция контуров лица, разглаживание морщин и повышение тонуса мимических мышц.
            p Использование устройства «Меркурий» для физиотерапии больше всего подходит людям, страдающим от разнообразных заболеваний опорно-двигательного аппарата.
            h2.title-2 ФЕНИКС
            p Электростимулятор нервно-мышечной системы органов малого таза «Феникс» является физиотерапевтическим аппаратом, генерирующим импульсные токи низкой частоты и низкого напряжения. Аппарат позволяет проводить лечение заболеваний мочеполовой системы, осуществлять регуляцию функции мочевого пузыря и кишечника. Эффективен при восстановлении в послеродовой период, а также при простатите. Применение аппарата позволяет подавлять боль различного происхождения в спине, суставах, мышцах или стимулировать мышцы тела и конечностей. Лечение заболеваний мочеполовой системы аппаратом «Феникс» осуществляется через вагинальный и ректальный зонды,
                | а болевых синдромов и слабости мышц — накожным методом с использованием клеящихся электродов.
            span Вагинальный / ректальный зонды:
            span - ослабление мышц малого таза;
            span - послеродовой период;
            span - ургентное недержание мочи у женщин и мужчин;
            span - истинное недержание мочи при напряжении у женщин;
            span - частое мочеиспускание;
            span - подтекание мочи после мочеиспускания;
            span - хроническая тазовая боль;
            span - состояние после операции гистерэктомии;
            span - пролапс (опущение) мочевого пузыря (только 1 стадии);
            span - нарушение функции половой системы;
            span.mb-3 - хронический простатит.
            span Накожные электроды:
            span - недержание мочи у женщин и мужчин;
            span - гиперактивность мочевого пузыря;
            span - хроническая тазовая боль;
            span - болевые синдромы различного происхождения;
            span - заболевания и последствия травм опорно-двигательного аппарата: артрит, артроз, болезнь Бехтерева, ревматоидный артрит, пяточная шпора,
                | периартрит плече-лопаточный, эпикондилит, спондилоартроз позвоночника, последствия оперативного лечения грыж позвоночных дисков,
                | миозиты, тендовагиниты;
            span - заболевания и травмы периферической нервной системы: остеохондроз позвоночника с неврологическими осложнениями, нейропатии и
                | невралгии;
            span - восстановление тонуса и работоспособности мышц;
            span.mb-3 - заболевания и травмы, вызванные занятиями физической культурой и спортом.

            h2.title-2 Дельта и Дельта Комби
            span <b class="color--blue">«Дельта» и «Дельта Комби»</b> являются генераторами ультразвуковых волн, что позволяет использовать их для терапии большого числа разнообразных заболеваний как внутренних органов, так опорно-двигательного аппарата.Основными показаниями для их применения являются следующие заболевания и состояния:
            ul
                li Боли в суставах, позвоночнике, спине, мышцах.
                li Варикозная болезнь.
                li Хронический простатит.
                li Вазомоторный ринит, хронический тонзиллит, бронхит.
                li Хроническая пневмония.
                li Деструктивно-дегенеративные заболевания суставов.
                li Проблема целлюлита и ожирения.
                li Системная склеродермия.
                li Снижение выраженности растяжек (стрий) на коже.
            p Аппараты ультразвуковой терапии от компании «СТЛ» в силу небольшой рабочей поверхности нашли широкое применение в косметологии.
                | В комплексе с медикаментозными средствами они позволяют снизить выраженность морщин, придать коже упругости, уменьшить размеры рубцов.
            p Устройства серии «Дельта» отлично подходят для локального воздействия на очаги патологического процесса с использованием лекарственных средств. Ультрафонофорез способствует более глубокому проникновению медикаментов, что значительно повышает их эффективность.
                | Это особо актуально при заболеваниях опорно-двигательного аппарата и некоторых патологиях внутренних органов.
            h2.title-2 Вега Плюс
            p.mb-0 <b class="color--blue">Аппарат магнитотерапии «Вега Плюс»</b> является генератором электромагнитного поля. Благодаря данному воздействию на организм он чаще всего применяется при терапии заболеваний внутренних органов.
                | Показаниями для использования магнитотерапии с помощью указанного аппарата являются:
            ul
                li Хронический бронхит и пневмония.
                li Язвенная болезнь желудка и двенадцатиперстной кишки в стадии ремиссии.
                li Гастрит, панкреатит и дуоденит.
                li Бронхиальная астма.
                li Приступы стабильной стенокардии.
                li Гипертоническая болезнь первой и второй степени.
                li Проявления синдрома хронической усталости.
                li Локальные боли разного происхождения.
                li Атопический дерматит.
                li Миозиты.
            p Магнитотерапия — универсальный метод, который основан на гармонизации движения всех жидкостей в теле. Он способствует нормализации микроциркуляции крови в зоне влияния устройства, улучшению оттоку лимфы, стабилизации функциональной активности внутренних органов.
        .main_apply
            .container
                h2.title-2 Преимущества физиотерапевтических аппаратов
                p Очевидным остается тот факт, что применение устройств для физиотерапии оправдано при многих заболеваниях.
                    | Главными их преимуществами являются:
                h3.title-3 Отсутствие побочных эффектов
                p Все аппараты обладают высоким профилем безопасности. Лечение проходит без боли, без риска осложнений со стороны внутренних органов. Физиотерапию можно применять длительно, при необходимости — в течение многих лет.

                h3.title-3 Снижение количества потребляемых медикаментов
                p Параллельное использование физиотерапевтических аппаратов способствует повышению эффективности лекарств, поэтому можно уменьшать их дозу, что ведет и к минимизации побочных реакций.

                h3.title-3 Экономия денег
                p Аппарат для физиотерапии покупается один раз. Затем можно пользоваться им постоянно, экономя на препаратах. Одним и тем же устройством смогут пользоваться все члены семьи. Это выгодное приобретение, которое окупит себя уже через несколько месяцев за счет снижения расходов на лекарственные средства.

                h3.title-3 Возможность применения в домашних условиях
                p Нет нужды посещать физиотерапевтические кабинеты, затрачивая на это время и деньги.

                h3.title-3 Портативность
                p Вы можете продолжать лечение, когда уезжаете из дома. Аппараты имеют небольшие размеры. Их можно использовать в поезде, на даче, на рыбалке или в любых других местах.

                h3.title-3 Нормализация психологического состояния
                p Как показывает практика, когда человек самостоятельно берет активное участие в процессе своего лечения, он быстрее выздоравливает.
        .container.pt-5
            p <b>Физиотерапия</b> — отличное дополнение к основному лечению. Этот вид терапии безопасный, безболезненный, простой, удобный и выгодный с финансовой точки зрения.
            include includes/doctor-question
        include includes/promo-products
