extends layout/main
block title
    title STL | Противопоказания
block content
    main.main-article
        .container
            nav(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item <a href="index.html">Главная</a>
                    li.breadcrumb-item.active(aria-current="page") Противопоказания
            h1.title-1 Противопоказания к проведению физиотерапии
            p Компания «Современные Технологические Линии» является крупнейшим производителем качественных <a href="#">аппаратов для физиотерапии в домашних условиях</a>, медицинских и санаторно-курортных учреждениях. Широкая линейка разнообразных устройств позволяет найти именно то, что нужно пациенту для терапии конкретного заболевания.
            p С помощью продукции компании «СТЛ» многие люди успешно справляются с симптомами хронических заболеваний. Тем не менее, нужно понимать, что все аппараты имеют ряд противопоказаний к использованию. Это нужно учитывать при выборе оптимального метода физического воздействия.
            h2.title-2.color--pink Электронейростимуляция
            p Устройства «Меркурий», «Дельта Комби» и «Феникс» являются уникальными аппаратами с возможностью генерации электрических импульсов
                | заданной силы.
            span Противопоказано применение чрескожнойэлектронейростимуляция в следующих ситуациях:
            ul
                li Висцеральный острый болевой синдром. Это может быть приступ стенокардии, инфаркт миокарда, колика (почечная, печеночная), роды.
                    | <br>Дополнительная стимуляция током только усилит выраженность боли за счет спазма мышц.
                li Воспаление ткани головного мозга (энцефалит) или его оболочек (арахноидит, менингит).
                li Психические расстройства с активацией двигательной функции пациента (психозы, истерия), эпилепсия.
                li Нарушения ритма сердечной деятельности (аритмии). Стимуляция током может усугубить патологический процесс, так как электростимуляция влияет на сократимость сердца.
            p Использование аппарата «Меркурий» в режиме электростимуляции противопоказано при любых острых гнойных процессах в теле человека.
                | Его не следует применять при повышенной возбудимости мышц или наличии спастических парезов и параличей. Стимуляция током приведет
                | к еще большему сокращению мускулатуры с формированием контрактур.
            span Нельзя применять «Меркурий», «Дельта Комби» и «Феникс»:
            ul
                li у больных с переломами до момента срастания кости;
                li при наличии варикоза с трофическими поражениями кожи;
                li при посттромботической болезни.
            h2.title-2.color--pink Ультразвуковая терапия
            p Аппараты «Дельта» и «Дельта Комби» могут работать в режиме генератора ультразвуковых волн.
            span Их применение противопоказано в следующих ситуациях:
            ul
                li Сердечно-сосудистая недостаточность. Ультразвук повышает нагрузку на сердце, которое и так не справляется со своей функцией.
                li Резекция желудка с развитием состояния под названием демпинг-синдром. Он характеризуется выраженными расстройствами функционирования симпатоадреналовой системы с прогрессированием вегетативных реакций (падение АТ, общая слабость, тахикардия и тому подобное).
                li Язва желудка с формированием осложнений (перфорация, пенетрация, кровотечение).
                li Острые гнойные процессы любой локализации.
                li Тяжелые органические поражения мозговой ткани.
                li Заболевания крови, связанные с нарушением её свертываемости (гемофилия, тромбоцитопения и другие).
            p Нельзя применять аппараты для ультразвуковой терапии у больных с остеопорозом и вегетососудистой дистонией.
            h2.title-2.color--pink Магнитотерпия
            span Аппарат магнитотерапии «Вега Плюс» является генератором магнитного поля, которое благоприятно сказывается на состоянии организма человека. Однако нужно исключить применение магнитотерапии в следующих ситуациях:
            ul.mb-3
                li Стойкое снижение артериального давления. Влияние аппаратов из серии «Вега» ведет к еще большему прогрессированию гипотонии.
                li Острые нарушения мозгового кровообращения, геморрагический инсульт.
                li Острые нарушения психики пациента (психозы, истерия).
                li Ранний послеинфарктный период.Использование магнитотерапии может мешать процессу восстановления миокарда.
                li Использование пациентом кардиостимулятора. Устройства из серии «Вега» могут нарушить его работу, что вызовет аритмию.
                li Подозрение на наличие кровотечения.
        .main_apply
            .container
                h2.title-2.color--pink.pt-0 Общие противопоказания
                span Помимо указанных выше моментов, существуют дополнительные ситуации, при которых противопоказаны не конкретные виды физического воздействия на организм пациента, а физиотерапия в целом, как метод лечения. К ним относятся:
                ul
                    li Беременность.
                    li Онкологические заболевания. Влияние физиотерапевтических аппаратов и методик может спровоцировать распространение раковых клеток
                        | по организму (метастазирование опухоли).
                    li Общее тяжелое состояние больного.
                    li Выраженная кахексия (истощение).
                p Информация о противопоказаниях к применению тех или иных методов физиотерапии поможет выбрать лучший аппарат для домашнего использования, который улучшит состояние вашего здоровья, но не навредит организму.
                p Также, Вы можете проконсультироваться с нашим врачом онлайн.
        .container
            include includes/doctor-question
        .main_apply
            .container
                include includes/slider-apply
        include includes/promo-products

