extends layout/main
block title
    title STL | Контакты
block content
    main.main-contact
        .container
            nav(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item <a href="index.html">Главная</a>
                    li.breadcrumb-item <a href="about.html">О Компании</a>
                    li.breadcrumb-item.active(aria-current="page") Контакты
            h1.title-1 Контакты
            .row
                .custom-col-1.mt-2
                    aside.left-saidbar
                        .left-saidbar_title О Компании
                        ul.left-saidbar_list
                            li.left-saidbar_list_item <a href="news.html">Новости</a>
                            li.left-saidbar_list_item <a href="stuff.html">Лучшие сотрудники</a>
                            li.left-saidbar_list_item.active <a href="contact.html">Контакты</a>
                .custom-col-2.my-2
                    section.content
                        h3.title-3 Компания «Современные технологические линии»
                        a(href="tel:8 800 707-78-80").content_phone 8 800 707-78-80 (звонок по России бесплатный)
                        a(href="mailto:info@stl-comp.ru").content_email info@stl-comp.ru

                        h3.title-3 Москва
                        #map-1
                        p.content_address
                            | Центральный офис продаж в Москве 109387,
                            | ул. Люблинская, д. 42, офис 229
                        a(href="tel:+7 (495) 351-83-72").content_phone +7 (495) 351-83-72
                        a(href="").content_email office@stl-comp.ru


                        #map-2
                        p.content_address
                            | Офис продаж в Москве у станции метро ВДНХ 129164,
                            | ул. Ярославская, д. 8, к. 6, офис 325
                        a(href="tel:+7 (495) 221-10-35").content_phone +7 (495) 221-10-35
                        a(href="mailto:m-vvc@stl-comp.ru").content_email m-vvc@stl-comp.ru

                        h3.title-3 Московская область
                        #map-3
                        p.content_address
                            | Офис продаж в Люберцах 140000,
                            | ул. Красная, д. 1, офис 505
                        a(href="tel:+7 (495) 565-45-63").content_phone +7 (495) 565-45-63
                        a(href="mailto:lyubertsy@stl-comp.ru").content_email lyubertsy@stl-comp.ru


                        #map-4
                        p.content_address
                            | Офис продаж в Сергиевом Посаде 141313,
                            | ул. Институтская, д. 10 А
                        a(href="tel:+7 (496) 548-09-45").content_phone +7 (496) 548-09-45
                        a(href="mailto:zav.stl@yandex.ru").content_email zav.stl@yandex.ru

                        h3.title-3 Санкт-Петербург
                        #map-5
                        p.content_address
                            | Офис продаж в Санкт-Петербурге 190005,
                            | Измайловский пр., д. 9/2 А, офис 7
                        a(href="tel:+7 (812) 418-24-10").content_phone +7 (812) 418-24-10
                        a(href="mailto:spb@stl-comp.ru").content_email spb@stl-comp.ru
