extends layout/main
block title
    title STL | Статьи новостей
block content
    main.main
        .container
            nav(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item <a href="index.html">Главная</a>
                    li.breadcrumb-item <a href="about.html">О Компании</a>
                    li.breadcrumb-item <a href="news.html">Новости</a>
                    li.breadcrumb-item.active(aria-current="page") Статья Title 1
            h1.title-1 Статья
            .row
                .custom-col-1.mt-2
                    aside.left-saidbar
                        .left-saidbar_title О Компании
                        ul.left-saidbar_list
                            li.left-saidbar_list_item.active <a href="news.html">Новости</a>
                            li.left-saidbar_list_item <a href="stuff.html">Лучшие сотрудники</a>
                            li.left-saidbar_list_item <a href="contact.html">Контакты</a>
                .custom-col-2
                    section.content.mb-5
                        .content_article
                            .content_article_title Title 1
                            .content_article_data 10.12.2018
                            .content_article_content
                                .content_article_content_img
                                    img(src="img/news/article/img-1.jpg").lazyload
                                    span На фото: Тот-то тот-то, такое-то мероприятие, 2017 год
                                .content_article_content_text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem cupiditate eveniet, iste iusto quas sit totam. Nisi, quasi, voluptatibus.
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius et eveniet ipsum iure perspiciatis quidem. Debitis eveniet harum minima nam perspiciatis repudiandae soluta vel.
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur deserunt, minima nesciunt quaerat vel!
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet incidunt maiores odio voluptatem. Autem ducimus excepturi fugiat ipsum minus placeat possimus quisquam quo quos? Corporis officiis perferendis tempora. Accusamus aliquam aliquid aperiam consectetur dignissimos dolorum eveniet exercitationem fuga fugit itaque maxime molestiae, nobis obcaecati officiis quas qui quibusdam quidem, quisquam rem reprehenderit sapiente sint soluta suscipit ullam voluptates. Error, libero nesciunt! Enim fugiat quas ratione veniam voluptatem! Architecto commodi ducimus eligendi optio provident quidem quos sit soluta temporibus voluptatem. Porro.
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur autem, nemo nobis nulla optio provident quibusdam quo quos temporibus. Adipisci eaque facilis nostrum quia sint? Debitis deleniti expedita fugiat hic molestias sit, tenetur voluptatum. A ad facilis in ipsum quae. A ab architecto at atque consectetur cum deserunt distinctio eos eveniet facere illum incidunt itaque magnam minus neque nobis officia placeat quas quod quos, repellat sed suscipit tempora temporibus veritatis. Commodi delectus dolore dolores ducimus explicabo fuga, itaque maiores molestias nemo neque nulla omnis perspiciatis quasi rerum ullam, velit voluptatibus? Cum magni molestias nulla optio rerum soluta, suscipit. A, aliquid cupiditate debitis deserunt eveniet in, ipsam modi optio sequi similique, sunt suscipit vitae. Consectetur id maiores nesciunt porro saepe!
