extends layout/main
block title
    title STL | Восстановление пароля
block content
    main.main-password
        .container
            nav(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item <a href="index.html">Главная</a>
                    li.breadcrumb-item.active(aria-current="page") Восстановление пароля
            h1.title-1 Восстановление пароля
            // Экран 1
            .row
                .col-12.text(style="color: #adafb2;")
                    p Если Вы забыли пароль, введите логин или e-mail.
                    p Контрольная ссылка для смены пароля, а также Ваши регистрационные данные, будут высланы на e-mail, который Вы указывали при регистрации.
                .col-12
                    form.recovery-form
                        .recovery-form_item
                            label(for="recovery").recovery-form_label Логин или e-mail
                            input.form-control.recovery-form_input(name='recovery' placeholder='Введите вашу почту' width='400')#recovery
                        .recovery-form_item
                            //    Рекапча
                        button(type='submit').btn.btn-blue.recovery-form_submit Восстановить
            // Экран 2
            .row
                .col-12
                    .text(style="font-weight: 700; margin-bottom: 30px;")
                        .color--blue Уведомление отправлено!
                    .text(style="width: 329px;").color--gray
                        p Уважаемый посетитель!
                        p На Ваш e-mail было отправлено уведомление
            // Экран 3
            .row
                .col-12
                    .text(style="font-weight: 700; margin-bottom: 30px;")
                        .color--blue Новый пароль сгенерирован!
                    .text(style="width: 610px;").color--gray
                        p Уважаемый посетитель!
                        p
                            | Согласно Вашему запросу для Вас был сгенерирован новый пароль.
                            | Данный пароль был отправлен Вам на e-mail.
                            | После авторизации на сайте Вы сможете изменить данный пароль на любой другой.

