extends layout/main
block title
    title STL | Сотрудники
block content
    main.main-stuff
        .container
            nav(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item <a href="index.html">Главная</a>
                    li.breadcrumb-item <a href="about.html">О Компании</a>
                    li.breadcrumb-item.active(aria-current="page") Лучшие сотрудники
            h1.title-1 Лучшие сотрудники
            .row
                .custom-col-1.mt-2
                    aside.left-saidbar
                        .left-saidbar_title О Компании
                        ul.left-saidbar_list
                            li.left-saidbar_list_item <a href="news.html">Новости</a>
                            li.left-saidbar_list_item.active <a href="stuff.html">Лучшие сотрудники</a>
                            li.left-saidbar_list_item <a href="contact.html">Контакты</a>
                .custom-col-2.mt-2
                    section.content.mb-5
                        .content_tabs
                            //.content_tabs_wrapper-flex
                            ul.nav.nav-pills.mb-3#pills-tab(role="tablist")
                                li.nav-item
                                    a.nav-link.active#branch-1-tab(data-toggle="pill" href="#branch-1" role="tab" aria-controls="branch-1" aria-selected="true") Центральный офис
                                li.nav-item
                                    a.nav-link#branch-2-tab(data-toggle="pill" href="#branch-2" role="tab" aria-controls="branch-2" aria-selected="false") Москва
                                li.nav-item
                                    a.nav-link#branch-4-tab(data-toggle="pill" href="#branch-4" role="tab" aria-controls="branch-4" aria-selected="false") Московская область
                                li.nav-item
                                    a.nav-link#branch-5-tab(data-toggle="pill" href="#branch-5" role="tab" aria-controls="branch-5" aria-selected="false") Санкт-Петербург

                        .tab-content#pills-tabContent
                            .tab-pane.fade.show.active#branch-1(role="tabpanel" aria-labelledby="branch-1-tab")
                                .stuff-items
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img1.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Селезнёва
                                                | <br>Анна
                                                | <br>Сергеевна
                                            .stuff-item_text_description
                                                | специалист по работе
                                                | с клиентами
                                            .stuff-item_text_description-experience
                                                | стаж работы: 3 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img2.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Мастерских
                                                | Кирилл
                                                | Михайлович
                                            .stuff-item_text_description
                                                | руководитель
                                                | отдела развития
                                            .stuff-item_text_description-experience
                                                | стаж работы: 6 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img3.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Решетняк
                                                | Анатолий
                                                | Иванович
                                            .stuff-item_text_description
                                                | руководитель
                                                | отдела логистики
                                            .stuff-item_text_description-experience
                                                | стаж работы: 9 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img4.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Кузнецов
                                                | <br>Дмитрий
                                                | <br>Владимирович
                                            .stuff-item_text_description
                                                | специалист
                                                | отдела логистики
                                            .stuff-item_text_description-experience
                                                | стаж работы: 3 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img5.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Зимин
                                                | <br>Александр
                                                | <br>Васильевич
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 10 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img6.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Свертохина
                                                | <br>Марина
                                                | <br>Юрьевна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 9 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img7.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Исакина
                                                | <br>Тамара
                                                | <br>Валентиновна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 6 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img8.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Кутьина
                                                | <br>Галина
                                                | <br>Вячеславовна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 7 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img9.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Попов
                                                | <br>Владислав
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 4 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img10.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Козленок
                                                | <br>Оксана
                                                | <br>Алексеевна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 4 года
                            .tab-pane.fade#branch-2(role="tabpanel" aria-labelledby="branch-2-tab")
                                .stuff-items
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img11.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Павлов
                                                | <br>Сергей
                                                | <br>Анатольевич
                                            .stuff-item_text_description
                                                | управляющий
                                                | офиса продаж
                                            .stuff-item_text_description-experience
                                                | стаж работы: 7 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img12.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Калетюк
                                                | <br>Лилия
                                                | <br>Владимировна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 6 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img13.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Басманова
                                                | <br>Нина
                                                | <br>Александровна
                                            .stuff-item_text_description
                                                | инструктор
                                                | по обучению
                                            .stuff-item_text_description-experience
                                                | стаж работы: 5 лет
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img14.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Каляева
                                                | <br>Ирина
                                                | <br>Михайловна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 3 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img15.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Гарнева
                                                | <br>Вера
                                                | <br>Александровна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 1 год
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img16.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Можаева
                                                | <br>Виктория
                                                | <br>Евгеньевна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 1 год
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img24.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Албагачиев
                                                | <br>Магомед
                                                | <br>Абдулкаримович
                                            .stuff-item_text_description
                                                | управляющий
                                                | офиса продаж
                                            .stuff-item_text_description-experience
                                                | стаж работы: 1 год
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img25.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Горохова
                                                | <br>Людмила
                                                | <br>Константиновна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 1 год
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img26.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Пахомова
                                                | <br>Наталия
                                                | <br>Васильевна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 4 года


                            .tab-pane.fade#branch-4(role="tabpanel" aria-labelledby="branch-4-tab")
                                .stuff-items
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img17.jpg").lazyload
                                            .stuff-item_img_icon
                                                img(src="img/stuff/icon-1.png" alt="Icon favorite").lazyload
                                                .stuff-item_img_icon_text Лучший сотрудник
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Арюткина
                                                | <br>Ирина
                                                | <br>Генриховна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 2 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img18.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Арюткина
                                                | <br>Ирина
                                                | <br>Генриховна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 2 года
                            .tab-pane.fade#branch-5(role="tabpanel" aria-labelledby="branch-4-tab")
                                .stuff-items
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img19.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Сепеляйнен
                                                | <br>Екатерина
                                                | <br>Владимировна
                                            .stuff-item_text_description
                                                | управляющая
                                                | <br>офиса продаж
                                            .stuff-item_text_description-experience
                                                | стаж работы: 4 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img20.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Делюкин
                                                | <br>Дмитрий
                                                | <br>Валерьевич
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 2 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img21.jpg").lazyload
                                            .stuff-item_img_icon
                                                img(src="img/stuff/icon-1.png" alt="Icon favorite").lazyload
                                                .stuff-item_img_icon_text Лучший сотрудник
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Койнова
                                                | <br>Марта
                                                | <br>Леонидовна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 2 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img22.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Савина
                                                | <br>Анна
                                                | <br>Александровна
                                            .stuff-item_text_description
                                                | консультант
                                            .stuff-item_text_description-experience
                                                | стаж работы: 2 года
                                    .stuff-item
                                        .stuff-item_img
                                            img(src="img/stuff/img23.jpg").lazyload
                                        .stuff-item_text
                                            .stuff-item_text_title
                                                | Митрофанов
                                                | <br>Виталий
                                                | <br>Юрьевич
                                            .stuff-item_text_description
                                                | водитель
                                            .stuff-item_text_description-experience
                                                | стаж работы: 4 года



