.doctor-question.col-6.offset-3
    .doctor-question_title Задайте свой вопрос нашему профессиональному врачу
    .doctor-question_img
        img(src="img/products/doctor-1.png").lazyload
    .doctor-question_name
        | Ларинский Николай Евгеньевич
    .doctor-question_awards
        | главный врач ООО «Санаторий «Солотча», кандидат медицинских наук,
        | сертифицированный специалист по внутренним болезням,
        | физиотерапии, рефлексотерапии и восстановительной медицине
    .doctor-question_button
        button(data-toggle="modal" data-target="#questionModal" ).btn.btn-def Задать вопрос <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right" viewBox="0 0 12 21"><switch><g><path d="M.8 2l8.1 8.3-8.1 8.5c-.4.4-.4 1.3 0 1.8.4.4 1.3.4 1.7 0l8.9-9.5c.1-.1.3-.4.3-.8 0-.3 0-.6-.3-.8L2.4.3C2-.1 1.2-.1.8.3S.3 1.6.8 2z" fill="#fff"/></g></switch></svg>
    .doctor-question_feadback
        | Мы заботимся о конфиденциальности Ваших вопросов, отвечаем на них
        | исключительно персонально и не публикуем на нашем сайте никакой информации
