section.main_promo-products
    .container
        .main_promo-products_presents
            .row
                .col-12.col-md-6.main_promo-products_present
                    a(href="#")
                        img(data-src="img/products/footer-1.jpg").lazyload
                .col-12.col-md-6.main_promo-products_present
                    a(href="#")
                        img(data-src="img/products/footer-2.jpg").lazyload
