h2.title-2.text-center Применяются при заболеваниях
.slider-apply
    - for (var x = 0; x < 8; x++)
        div
            .slider-apply_item
                p.slider-apply_item_text
                    | нарушение сна, стресс, болевые синдромы различного происхождения, восстановление после перенесенных операций, заболеваний и травм, целлюлит...
                h4.slider-apply_item_title
                    | Меркурий
                a(href="#").slider-apply_item_link
                    | Подробнее >
